section.kopa__bottomSidebar
	.container
		.row.row__custom
			.col-xs-12.col-sm-3.kopa__reveal.bottom
				include ../widget/about-06

				include ../widget/social-01
			// col

			.col-xs-12.col-sm-3.kopa__reveal.bottom
				include ../widget/list-menu
			// col

			.col-xs-12.col-sm-3.kopa__reveal.bottom
				include ../widget/contact-02
			// col

			.col-xs-12.col-sm-3.kopa__reveal.bottom
				include ../widget/news-letter-01
			// col
		// row
	// container
// kopa bottom sidebar