include ../base/mixin
.kopa__mainSlider.style--01.owl-wrapper
	+owl-carousel(1, 1, 1, 1, 1, 'false', 'true', 'false', 'fade')
		.item.style--01
			.container
				.kopa--inner
					h2 Large enough to handle, 
						br
						| small en
					.kopa__line--dotted.style--01
						span.kopa__line--dotted--small.kopa__line--dotted--dark
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--wide
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--dark
					// kopa line dotted
					img(src='http://placehold.it/1028x200', alt='')
				// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x633', alt='')
			// kopa imgBg
		// item

		.item.style--02
			.container
				.kopa--inner
					h2
						span Inland 
						|Transportation
					.kopa__line--dotted.style--01
						span.kopa__line--dotted--small.kopa__line--dotted--dark
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--wide
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--dark
					// kopa line dotted
					img.kopa__imgItem--02(src='http://placehold.it/240x180', alt='')
					img.kopa__imgItem--01(src='http://placehold.it/700x210', alt='')
				// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x633', alt='')
			// kopa imgBg
		// item

		.item.style--03
			.container
				.kopa--inner
					h2
						span Auto 
						|Transportation
					.kopa__line--dotted.style--01
						span.kopa__line--dotted--small.kopa__line--dotted--dark
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--wide
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--dark
					// kopa line dotted
					img(src='http://placehold.it/1030x290', alt='')
				// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x633', alt='')
			// kopa imgBg
		// item
	.kopa__mainSlider__loading
		i.fa.fa-refresh.fa-spin
	// kopa main slider loading
// kopa__mainSlider