include ../base/mixin

.kopa__mainSlider.style--02.cd-hero
	ul.cd-hero-slider
		li.kopa__mainSlider__item.selected
			.kopa--inner
				.kopa__mainSlider__text
					h2
						span sea
						| transportation
					a.kopa__viewMore.style--02(href='#')
						| LEARN MORE
						i.fa.fa-chevron-circle-right
				// main slider text
			// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x600', alt='')
			// kopa imgBg
		// main slider item

		li.kopa__mainSlider__item
			.kopa--inner
				.kopa__mainSlider__text
					h2
						span air
						| transportation
					a.kopa__viewMore.style--02(href='#')
						| LEARN MORE
						i.fa.fa-chevron-circle-right
				// main slider text
			// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x600', alt='')
			// kopa imgBg
		// main slider item

		li.kopa__mainSlider__item
			.kopa--inner
				.kopa__mainSlider__text
					h2
						span ROAD
						| transportation
					a.kopa__viewMore.style--02(href='#')
						| LEARN MORE
						i.fa.fa-chevron-circle-right
				// main slider text
			// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x600', alt='')
			// kopa imgBg
		// main slider item

		li.kopa__mainSlider__item
			.kopa--inner
				.kopa__mainSlider__text
					h2
						span OCEAN
						| transportation
					a.kopa__viewMore.style--02(href='#')
						| LEARN MORE
						i.fa.fa-chevron-circle-right
				// main slider text
			// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x600', alt='')
			// kopa imgBg
		// main slider item

		li.kopa__mainSlider__item
			.kopa--inner
				.kopa__mainSlider__text
					h2
						span Warehousing
						| transportation
					a.kopa__viewMore.style--02(href='#')
						| LEARN MORE
						i.fa.fa-chevron-circle-right
				// main slider text
			// kopa inner

			.kopa__imgBg
				img(src='http://placehold.it/1366x600', alt='')
			// kopa imgBg
		// main slider item

	.cd-slider-nav
		nav
			ul
				li.selected
					a(href='#0') sea freight
					i.fa.fa-ship
				li
					a(href='#0') air freight
					i.fa.fa-plane
				li
					a(href='#0') ROAD freight
					i.fa.fa-truck
				li
					a(href='#0') OCEAN TRANSPORTATION
					i.fa.fa-car
				li
					a(href='#0') Warehousing
					i.fa.fa-cubes
	// cd slider nav
// kopa__mainSlider