include ../base/mixin
+navmenu01([
	{'link':'#', 'title':'Home'},
	{'link':'#', 'title':'Services'},
	{'link':'#', 'title':'News'},
	{'link':'#', 'title':'Pages'},
	{'link':'#', 'title':'Contacts'}
])