.kopa__mobileMenu.hidden-md.hidden-lg
	.kopa__mobileMenu__iconBar
		- for( var i = 1; i <= 3; i++ )
			span
	// kopa mobile menu icon bar

	ul.nav
		li
			a(href='home-01.html') Home
			ul
				li: a(href='home-01.html') Home 1
				li: a(href='home-02.html') Home 2
		li
			a(href='element-accordion.html') Element
			ul
				li: a(href="element-accordion.html") Accordion
				li: a(href="element-alerts.html") Alerts
				li: a(href="element-button.html") Button
				li: a(href="element-client-logo.html") Client Logo
				li: a(href="element-countdown.html") Count Down
				li: a(href="element-dropcaps.html") Dropcaps
				li: a(href="element-event.html") Event
				li: a(href="element-heading.html") Heading
				li: a(href="element-hightlight.html") Hightlight
				li: a(href="element-icon.html") Icon
				li: a(href="element-list.html") List
				li: a(href="element-pricing-table.html") Pricing Table
				li: a(href="element-quote.html") Quote
				li: a(href="element-skill-bar.html") Skill Bar
				li: a(href="element-table.html") Table
				li: a(href="element-tabs.html") Tabs
				li: a(href="element-widget-default.html") Widget Default
		li
			a(href='#') Pages
			ul
				li: a(href="page-about.html") About
				li: a(href="page-career.html") Career
				li: a(href="page-contact.html") Contact
				li: a(href="page-customer-service.html") Customer Service
				li: a(href="page-gallery.html") Gallery
				li: a(href="page-incoterm.html") Incoterm
				li: a(href="page-our-company.html") Our Company
				li: a(href="page-our-team.html") Our Team
				li: a(href="page-our-team-single.html") Our Team Single
				li: a(href="page-request.html") Request
				li: a(href="page-service.html") Service
				li: a(href="page-service-list.html") Service List
		li
			a(href='blog-full-width.html') Blog
			ul
				li: a(href='blog-full-width.html') Blog Full Width
				li: a(href='blog-list.html') Blog List
				li: a(href='blog-masonry.html') Blog Masonry
				li: a(href='single-blog-01.html') Blog Single 01
				li: a(href='single-blog-02.html') Blog Single 02
		li
			a(href='shop-01') Shop
			ul
				li: a(href='shop-01.html') Shop 01
				li: a(href='shop-02.html') Shop 02
				li: a(href='shop-single.html') Shop Single
				li: a(href='shop-cart.html') Shop Cart
				li: a(href='shop-checkout.html') Shop Check Out
				li: a(href='shop-order-received.html') Shop Order Received
		li: a(href='page-contact.html') Contacts
	// nav
// kopa mobile menu