extends ../layer/home

prepend title-element
	- var elementTitle = 'Button'

prepend body
	- var ClassBody = 'kopa-sub-page'

block head-base
	include ../include/head

block header-area
	include ../main/header-01

block area-01
	section.kopa__area.kopa__area--noSpace
		.container
			include ../widget/top-page
		// container
	// kopa-area

block area-02
	section.kopa__area.kopa__area--08
		.container
			.widget
				.widget-title.style--08
					h2.primary__title #{elementTitle}

					.kopa__line--dotted.style--02
						span.kopa__line--dotted--small.kopa__line--dotted--dark
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--wide
					// kopa line dotted

					p.text__title Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions. trucking companies as well as Rail Road expediters allow us to offer a wide spectrum of services in a one-stop solution for all transportation needs in a supply chain process while simultaneously preserving the efficiency of specialty units.
				// widget title
			// widget

			.widget
				.widget-title.style--09
					h3.primary__title Button sizes
				// widget title

				.widget-content
					.row
						.col-xs-12.col-sm-3
							a.btn.btn--lg.btn--square.btn__color--dark(href='#') READ MORE
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--border--thick.style--01(href='#') READ MORE
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--sm.btn--square.btn__color--primary(href='#') READ MORE
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--sm.btn--border--thick.style--02(href='#') READ MORE
						// col
					// row

					.row.row-custom-01
						.col-xs-12.col-sm-3
							a.btn.btn--lg.btn--square.btn__color--dark(href='#') Read more
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--border--thick.style--01(href='#') Read more
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--sm.btn--square.btn__color--primary(href='#') Read more
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--sm.btn--border--thick.style--02(href='#') Read more
						// col
					// row
				// widget content
			// widget

			.widget
				.widget-title.style--09
					h3.primary__title Button shapes
				// widget title

				.widget-content
					.row
						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--curve.btn__color--primary(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn__color--dark(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn__color--primary(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--square.btn__color--dark(href='#') FREE NOW
						// col
					// row

					.row.row-custom-01
						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--curve.btn--curve--01(href='#') FREE NOW
						// col
						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--border--thick.style--04(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--border--thin.style--01(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--border--thick.style--02(href='#') FREE NOW
						// col
					// row
				// widget content
			// widget

			.widget
				.widget-title.style--09
					h3.primary__title Button colors
				// widget title

				.widget-content
					.row
						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--curve.btn__colorOther.style--01(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn__colorOther.style--02(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn__colorOther.style--03(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--square.btn__colorOther.style--04(href='#') FREE NOW
						// col
					// row

					.row.row-custom-01
						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--curve.btn__colorOther.style--05(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn__colorOther.style--06(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn__colorOther.style--07(href='#') FREE NOW
						// col

						.col-xs-12.col-sm-3
							a.btn.btn--md.btn--square.btn__colorOther.style--08(href='#') FREE NOW
						// col
					// row
				// widget content
			// widget
		// container
	// kopa-area

block area-03
	section.kopa__area.kopa__area--09
		.container
			include ../widget/social-02
		// container
	// kopa-area

block bottom-sidebar
	include ../main/bottom-sidebar-01

block footer-area
	include ../main/footer

block js-base
	include ../include/js