extends ../layer/home

prepend title-element
	- var elementTitle = 'Accordion'

prepend body
	- var ClassBody = 'kopa-sub-page'

block head-base
	include ../include/head

block header-area
	include ../main/header-01

block area-01
	section.kopa__area.kopa__area--noSpace
		.container
			include ../widget/top-page
		// container
	// kopa-area

block area-02
	section.kopa__area.kopa__area--08
		.container
			.widget
				.widget-title.style--08
					h2.primary__title #{elementTitle}

					.kopa__line--dotted.style--02
						span.kopa__line--dotted--small.kopa__line--dotted--dark
						span.kopa__line--dotted--small.kopa__line--dotted--gray
						span.kopa__line--dotted--small.kopa__line--dotted--light
						span.kopa__line--dotted--wide
					// kopa line dotted

					p.text__title Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions. trucking companies as well as Rail Road expediters allow us to offer a wide spectrum of services in a one-stop solution for all transportation needs in a supply chain process while simultaneously preserving the efficiency of specialty units.
				// widget title
			// widget

			.row.row-custom
				.col-xs-12.col-sm-6
					.widget
						.widget-title.style--09
							h3.primary__title Style 1
						// widget title

						.widget-content
							.kopa__accordion.style--01
								.acc__title.active
									.icon--right.match
									h5.match How many times do i have to tell you a few ways?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match What is do i have to tell you a few lorem?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match I have a technical problem or support issue I need resolved.
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match What other services are you compatible with?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match Are you hiring?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content
							// kopa accordion
						// widget content
					// widget
				// col

				.col-xs-12.col-sm-6
					.widget
						.widget-title.style--09
							h3.primary__title Style 2
						// widget title

						.widget-content
							.kopa__accordion.style--02
								.acc__title.active
									.icon--right.match
									h5.match
										i.fa.fa-bars
										| How many times do i have to tell you a few ways?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match
										i.fa.fa-bars
										| What is do i have to tell you a few lorem?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match
										i.fa.fa-bars
										| I have a technical problem or support issue I need resolved.
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match
										i.fa.fa-bars
										| What other services are you compatible with?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content

								.acc__title
									.icon--right.match
									h5.match
										i.fa.fa-bars
										| Are you hiring?
								// acc-title

								.acc__content
									p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives. Progressively monetize client-centric outsourcing with excellent communities.
								// acc-content
							// kopa accordion
						// widget content
					// widget
				// col
			// row

			.widget
				.widget-title.style--09
					h3.primary__title Style 3
				// widget title

				.widget-content
					.kopa__accordion.style--03
						.acc__title.active
							.icon--right.match
							h5.match  I have a family friend who is a Realtor. I like her and she is a help but she gives me one price to sell my home for and I think it is too low. So I called another agent who suggested a price more in line with my expectations. Who do I choose?
						// acc-title

						.acc__content
							p A lot depends on why you are buying the house. Are you buying it mostly as a home or mostly as an investment? There is a difference. For the most part, upgrades are high-profit items for builders. They aren’t designed to enhance the value of the house, but make you happier with the house you do buy. If you are looking at your home as an investment, then you buy from the smaller to medium size in the tract and spend only a minimal amount on upgrades. If you are looking at your purchase as a home, then you select upgrades that will enhance your quality of living. A lot depends on why you are buying the house. Are you buying it mostly as a home or mostly as an investment? There is a difference.

							p For the most part, upgrades are high-profit items for builders. They aren’t designed to enhance the value of the house, but make you happier with the house you do buy. If you are looking at your home as an investment, then you buy from the smaller to medium size in the tract and spend only a minimal amount on upgrades. If you are looking at your purchase as a home, then you select upgrades that will enhance your quality of living.
						// acc-content

						.acc__title
							.icon--right.match
							h5.match  I have to make a choice between an updated home in an older neighborhood or a newer home in a more modern neighborhood. The home in the older neighborhood has almost everything I want.
						// acc-title

						.acc__content
							p A lot depends on why you are buying the house. Are you buying it mostly as a home or mostly as an investment? There is a difference. For the most part, upgrades are high-profit items for builders. They aren’t designed to enhance the value of the house, but make you happier with the house you do buy. If you are looking at your home as an investment, then you buy from the smaller to medium size in the tract and spend only a minimal amount on upgrades. If you are looking at your purchase as a home, then you select upgrades that will enhance your quality of living. A lot depends on why you are buying the house. Are you buying it mostly as a home or mostly as an investment? There is a difference.

							p For the most part, upgrades are high-profit items for builders. They aren’t designed to enhance the value of the house, but make you happier with the house you do buy. If you are looking at your home as an investment, then you buy from the smaller to medium size in the tract and spend only a minimal amount on upgrades. If you are looking at your purchase as a home, then you select upgrades that will enhance your quality of living.
						// acc-content

						.acc__title
							.icon--right.match
							h5.match  When buying a new home, what upgrades should we go for? What holds the most value? Do we upgrade the lot? Pick more square footage in the house? Add an extra bedroom?, etc.
						// acc-title

						.acc__content
							p A lot depends on why you are buying the house. Are you buying it mostly as a home or mostly as an investment? There is a difference. For the most part, upgrades are high-profit items for builders. They aren’t designed to enhance the value of the house, but make you happier with the house you do buy. If you are looking at your home as an investment, then you buy from the smaller to medium size in the tract and spend only a minimal amount on upgrades. If you are looking at your purchase as a home, then you select upgrades that will enhance your quality of living. A lot depends on why you are buying the house. Are you buying it mostly as a home or mostly as an investment? There is a difference.

							p For the most part, upgrades are high-profit items for builders. They aren’t designed to enhance the value of the house, but make you happier with the house you do buy. If you are looking at your home as an investment, then you buy from the smaller to medium size in the tract and spend only a minimal amount on upgrades. If you are looking at your purchase as a home, then you select upgrades that will enhance your quality of living.
						// acc-content
					// kopa accordion
				// widget content
			// widget
		// container
	// kopa-area

block area-03
	section.kopa__area.kopa__area--09
		.container
			include ../widget/social-02
		// container
	// kopa-area

block bottom-sidebar
	include ../main/bottom-sidebar-01

block footer-area
	include ../main/footer

block js-base
	include ../include/js