extends ../layer/home

block head-base
	include ../include/head

block header-area
	include ../main/header-02

block area-01
	section.kopa__area.kopa__area--noSpace
		include ../main/main-slider-02
	// kopa-area

block area-02
	section.kopa__area
		.container
			include ../widget/offer-about
		// container
	// kopa-area

block area-03
	section.kopa__area.kopa__area--noSpace.kopa__area--06
		.container-fluid
			.row
				include ../widget/service-04
			// row
		// container fluid
	// kopa-area

block area-04
	section.kopa__area.kopa__area--03
		.container
			include ../widget/video-news
		// container
	// kopa-area

block area-05
	section.kopa__area.kopa__area--noSpace
		include ../widget/about-05
	// kopa-area

block area-06
	section.kopa__area.kopa__area--07
		.container
			include ../widget/slider-quote-02
		// container
	// kopa-area

block bottom-sidebar
	include ../main/bottom-sidebar-02

block footer-area
	include ../main/footer

block js-base
	include ../include/js