extends ../layer/home

prepend title-element
	- var elementPreTitle = 'Pages'
	- var elementTitle = 'Career'

prepend titleRecentPost
	- var titleRecentPost = 'Company News'

prepend body
	- var ClassBody = 'kopa-sub-page'

block head-base
	include ../include/head

block header-area
	include ../main/header-01

block area-01
	section.kopa__area.kopa__area--noSpace
		.container
			include ../widget/top-page
		// container
	// kopa-area

block area-02
	section.kopa__area.kopa__area--08
		.container
			.row
				.col-xs-12.col-sm-8.col-md-9
					include ../widget/career
				// col

				.col-xs-12.col-sm-4.col-md-3.sidebar.kopa__sideBar
					include ../widget/sidebar-recent-post
				// col
			// row
		// container
	// kopa-area

block area-03
	section.kopa__area.kopa__area--09
		.container
			include ../widget/social-02
		// container
	// kopa-area

block bottom-sidebar
	include ../main/bottom-sidebar-01

block footer-area
	include ../main/footer

block js-base
	include ../include/js