include ../include/config

doctype
html(lang="en")
	block head-base

	block body
		body(class=ClassBody)
			block header-area

			section.kopa__mainContent
				block area-01

				block area-02

				block area-03

				block area-04

				block area-05

				block area-06

				block area-07

				block area-08

				block area-09

				block area-10
			// kopa__mainContent

			block bottom-sidebar

			block footer-area
			block js-base