.img-responsive {
    width: 100%;
    object-fit: cover;
}

input[type="file"]::before {
    color: #fff;
    background-color: #047bf8;
    border-color: #047bf8;
    position: absolute;
    content: attr(data-title);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: "Avenir Next W01", "Lato", -apple-system, system-ui,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        sans-serif;
    outline: none;
    line-height: 1;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]:hover::before {
    background-color: #0362c6;
    border-color: #035cb9;
    text-decoration: none;
    cursor: pointer;
}

input[type="file"] {
    color: transparent !important;
}

input[type="file"]:focus {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

input[type="file"]:focus::before {
    background-color: #0362c6;
    border-color: #035cb9;
    box-shadow: 0 0 0 0.2rem rgba(42, 143, 249, 0.5);
}

#gallery-list .gallery-item:hover {
    cursor: pointer;
}

#preview-post img {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
