script(src="js/jquery-1.11.3.min.js")
block js-lib
	script(src="js/jquery.appear.min.js")
	script(src="js/jquery.bootstrap.min.js")
	script(src="js/jquery.bxslider.min.js")
	script(src="js/jquery.classie.min.js")
	script(src="js/jquery.countdown.min.js")
	script(src="js/jquery.counterup.min.js")
	script(src="js/jquery.easing.1.3.min.js")
	script(src="js/jquery.easypiechart.min.js")
	script(src="js/jquery.fitvids.min.js")
	script(src="js/jquery.imagesloaded.pkgd.min.js")
	script(src="js/jquery.masonry.pkgd.min.js")
	script(src="js/jquery.matchHeight-min.js")
	script(src="js/jquery.navgoco.min.js")
	script(src="js/jquery.owl.carousel.min.js")
	script(src="js/jquery.pro-bars.min.js")
	script(src="js/jquery.responsive-tabs.min.js")
	script(src="js/jquery.scrollreveal.min.js")
	script(src="js/jquery.superfish.min.js")
	script(src="js/jquery.uisearch.min.js")
	script(src="js/jquery.waypoints.min.js")
	script(src="eh5v.files/html5video/html5ext.js")
script(src="js/custom.min.js")