.widget.kopa__about.style--04.kopa__reveal.right
	.widget-title.style--05
		h3.primary__title: a(href='#') About us
	// widget title

	.widget-content
		article.entry-item
			.entry-thumb
				a(href='#'): img(src='http://placehold.it/570x270', alt='')
			// entry thumb

			.entry-content
				.row
					+about04([
						{'text_item': 'General information'},
						{'text_item': 'Our People'},
						{'text_item': 'Board of Management'},
						{'text_item': 'Office Document'},
						{'text_item': 'Tagoking Achivements'},
						{'text_item': 'Subsidiary'},
					])
			// entry content
		// entry item
	// widget content
// kopa about