.widget.kopa__about.style--06
	.widget-content
		a(href='home-01.html'): img(src='images/fixed/logo01.png', alt='')
		p TAGOKING International maintains three warehouse
	// widget content
// kopa about