.col-xs-12.col-sm-6
	.widget.kopa__about.style--02.kopa__reveal.left
		.widget-title.style--03
			h2.primary__title Reach your destination
				br
				| 100% sure and safe solution
			.kopa__line--dotted.style--04
				span.kopa__line--dotted--small.kopa__line--dotted--dark
				span.kopa__line--dotted--small.kopa__line--dotted--gray
				span.kopa__line--dotted--small.kopa__line--dotted--light
				span.kopa__line--dotted--wide
			// kopa line dotted
		// widget title

		.widget-content
			ul.style--01
				li We designed a detailed homepage layouts that will fit any transportation industry size.
				li We will take care of your cargo or your pasenger and deliver them safe and on time!
			a(href='#').btn.btn--md.btn--curve.btn__color--light CONTACT NOW
		// widget content
	// kopa about
// col

.col-xs-12.col-sm-6
	.widget.image__float.kopa__reveal.right
		img(src='http://placehold.it/700x540', alt='')
	// image float
// col