.widget.kopa__about.style--05.kopa__reveal.bottom
	.widget-title.style--06
		.img__title: img(src='http://placehold.it/370x60', alt='')

		h3.primary__title: a(href='#') Ship your parcel in 5 easy steps

		p.text__title Sending from point A to B? Rely on us anytime, anywhere. Tagoking can help you ship everything and you can manage every step of the shipping.

		a(href='#').kopa__viewMore.style--01 Know More
	// widget title

	.widget-content
		article.entry-item
			.entry-thumb
				a(href='#'): img(src='http://placehold.it/870x510', alt='')
			// entry-thumb

			.entry-content
				img(src='http://placehold.it/250x400', alt='')
				h2.entry-title: a(href='#') We are the people
					br
					|network
				p At Tagoking, your people and your business are at the heart of everything we do. Every day, we go to great lengths to connect pople and businesses all over the planet.

				a(href='#').kopa__viewMore.style--03.btn.btn--sm.btn--curve.btn--border--thick.style--03
					|Meet uS
					i.fa.fa-angle-double-right
			// entry content
		// entry item
	// widget content
// kopa about