- var titleAbout7 = 'Ship your parcel in 5 easy steps'

.widget.kopa__about.style--07
	.widget-title.style--06
		block titleAbout7
			h3.primary__title #{titleAbout7}

		.img__title: img(src='http://placehold.it/370x60', alt='')

		p.text__title Sending from point A to B? Rely on us anytime, anywhere. Tagoking can help you ship everything and you can manage every step of the shipping.

		a(href='#').kopa__viewMore.style--01 Know More
	// widget title

	.widget-content
		h3 Facts and Figures

		ul
			li
				i.ti-check
				| 58,722 employees in 61 countries
			li
				i.ti-check
				| 1,000,000 deliveries around the globe every day
			li
				i.ti-check
				| 54 air freighters on more than 700 journeys a week
			li
				i.ti-check
				| 55,000 weekly trips between our 72 European rub hubs
	// widget content
// kopa about