.widget.kopa__about.style--03
	.widget-content
		a(href='home-01.html'): img(src='images/fixed/logo01.png', alt='')
		p TAGOKING International maintains three warehouse operations in strategically located shipping centers. We have over.
	// widget content
// kopa about