.widget.kopa__articleHeader.style--01
	.widget-content
		article.entry-item
			.entry-thumb
				a(href="#"): img(src="http://placehold.it/370x210", alt="")
			// entry thumb

			.entry-content
				h5: a(href="#") Quality and Performance at the right price
			// entry content
		// entry item
	// widget content
// kopa article header