.kopa__blogMasonry
	.kopa__blogMasonryWrapper
		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x150", alt="")
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-image-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x335", alt="")
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-image-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-content
					i.kopa__iconType.fa.fa-file-text-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x150", alt="")
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-image-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					.kopa__fitVid
						iframe(src="https://player.vimeo.com/video/130432276?title=0&byline=0&portrait=0", height="152", width="270")
					// kopa fit vid
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-video-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					.kopa__audio
						h4.kopa__audio__title INSERT AUDIO TITLE
						span.kopa__audio__author: a(href="#") Lily Hunter
						audio(controls)
							source(src="audio/Boulevard.mp3", type="audio/mpeg")
					// kopa audio
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-audio-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Audio post format
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-content
					.kopa__blockQuote.style--06
						p.text--02 I’ve been happy with the services provided by BestLogistic LLC. Samantha Culligan has been wonderful!

						h6.kopa__blockQuote__author Bob KERREY
					// kopa block quote
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item.kopa__itemLink
				.entry-content
					i.fa.fa-link
					h3.kopa__itemLink__title Google
					a(href="https://www.google.com/") https://www.google.com/
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x150", alt="")
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-image-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-content
					i.kopa__iconType.fa.fa-file-text-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses and alliances with a worldwide networkof ocean carriers, agents, trucking companies... as well as Rail Road

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x335", alt="")
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-image-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-6.col-md-3
			article.entry-item
				.entry-thumb
					.kopa__fitVid
						iframe(src="https://www.youtube.com/embed/rYBImNhYO5U", height="170")
					// kopa fit vid
				// entry thumb

				.entry-content
					i.kopa__iconType.fa.fa-file-video-o

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Trucking - Company of the Year 2014
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a(href='#').kopa__viewMore.style--01 Know More
				// entry content
			// entry item
		// col
	// kopa blog masonry wrapper

	.col-xs-12.col-sm-6.col-md-4.col-sm-push-3.col-md-push-4.kopa__center
		.kopa__loadMore.btn.btn--md.btn--curve.btn--border--thick.style--06 see all New
		// kopa load more
	// col push
// kopa blog masonry