.kopa__blogList
	article.entry-item
		.entry-thumb
			a(href="#"): img(src="http://placehold.it/300x200", alt="")
		// entry thumb

		.entry-content
			header.kopa__blogList__header
				i.kopa__iconType.fa.fa-file-image-o

				.entry__title.style--02
					span.meta__category: a(href='#') News
					h2.entry-title: a(href='#') Trucking - Company of the Year 2014
					span.meta__date 19/01/2016
				// entry title
			// kopa blog list header

			p.text--01 Our strategically positioned warehouses and alliances with a worldwide networkof ocean carriers, agents, trucking companies...

			a(href='#').kopa__viewMore.style--01 Know More
		// entry content
	// entry item

	article.entry-item
		.entry-content
			header.kopa__blogList__header
				i.kopa__iconType.fa.fa-file-text-o

				.entry__title.style--02
					span.meta__category: a(href='#') News
					h2.entry-title: a(href='#') Trucking - Company of the Year 2014
					span.meta__date 19/01/2016
				// entry title
			// kopa blog list header

			p.text--01 Our strategically positioned warehouses and alliances with a worldwide networkof ocean carriers, agents, trucking companies as well. Sed dapibus massa vitae ipsum aliquam sollicitudin. Aenean turpis leo, hendrerit quis bibendum sed, scelerisque nec sem. Praesent convallis lacinia pulvinar. Vivamus tincidunt diam a lacus imperdiet tempus...

			a(href='#').kopa__viewMore.style--01 Know More
		// entry content
	// entry item

	article.entry-item
		.entry-thumb
			.owl-wrapper.owl__nav--01
				+owl-carousel(1, 1, 1, 1, 1, 'false', 'true', 'false', 'false')
					- for ( var x = 1; x <= 4; x++ )
						.item
							img(src="http://placehold.it/300x200", alt="")
						// item
			// kopa owl carousel
		// entry thumb

		.entry-content
			header.kopa__blogList__header
				i.kopa__iconType.fa.fa-file-image-o

				.entry__title.style--02
					span.meta__category: a(href='#') News
					h2.entry-title: a(href='#') Trucking - Company of the Year 2014
					span.meta__date 19/01/2016
				// entry title
			// kopa blog list header

			p.text--01 Our strategically positioned warehouses and alliances with a worldwide networkof ocean carriers, agents, trucking companies...

			a(href='#').kopa__viewMore.style--01 Know More
		// entry content
	// entry item

	article.entry-item
		.entry-thumb
			.kopa__fitVid
				iframe(src="https://player.vimeo.com/video/139430414?title=0&byline=0&portrait=0", height="169", width="300")
			// kopa fit vid
		// entry thumb

		.entry-content
			header.kopa__blogList__header
				i.kopa__iconType.fa.fa-file-video-o

				.entry__title.style--02
					span.meta__category: a(href='#') News
					h2.entry-title: a(href='#') Trucking - Company of the Year 2014
					span.meta__date 19/01/2016
				// entry title
			// kopa blog list header

			p.text--01 Our strategically positioned warehouses and alliances with a worldwide networkof ocean carriers, agents, trucking companies...

			a(href='#').kopa__viewMore.style--01 Know More
		// entry content
	// entry item

	article.entry-item
		.entry-content
			.kopa__blockQuote.style--05
				p.text--02: i Mauris at eleifend urna, egestas varius risus. Sed augue sem, blandit nec lectus mattis, eleifend lobortis urna. Vestibulum porttitor tortor iaculis.

				h6.kopa__blockQuote__author Bob KERREY
			// kopa block quote
		// entry content
	// entry item

	article.entry-item
		.entry-thumb
			.kopa__audio
				h4.kopa__audio__title INSERT AUDIO TITLE
				span.kopa__audio__author: a(href="#") Lily Hunter
				audio(controls)
					source(src="audio/Boulevard.mp3", type="audio/mpeg")
			// kopa audio
		// entry thumb

		.entry-content
			header.kopa__blogList__header
				i.kopa__iconType.fa.fa-file-video-o

				.entry__title.style--02
					span.meta__category: a(href='#') News
					h2.entry-title: a(href='#') Trucking - Company of the Year 2014
					span.meta__date 19/01/2016
				// entry title
			// kopa blog list header

			p.text--01 Our strategically positioned warehouses and alliances with a worldwide networkof ocean carriers, agents, trucking companies...

			a(href='#').kopa__viewMore.style--01 Know More
		// entry content
	// entry item

	include pagination-01
// kopa blog list