.kopa__contentSubPage
	.kopa__contentSubPage__content
		.row
			.col-xs-12.col-md-4
				.kopa__navSub.style--01
					.kopa__navSub__title
						h6 Career
						i.fa.fa-angle-right
					// kopa nav sub title

					ul
						li
							a(href="#") Dr. Antonius Wagner
							ul.children
								li: a(href="#") Thomas Eisen
								li: a(href="#") Marcus Cebulla
								li: a(href="#") Sebastian Esser
						li: a(href="#") Hauke Müller
						li: a(href="#") Axel Steiner
						li: a(href="#") Dr. Michael Kemmer
				// kopa nav sub
			// col

			.col-xs-12.col-md-8
				h3.entry__title.style--04 We are Logwin
				p.text--01 Our customers achieve success with us. We rely on our dedicated and competent employees around the world in order to deliver this value proposition each and every day. For logistics are performed by people.
				br
				h4.entry__title.style--05 4,300 employees, one team
				p.text--01 The shared experience of 4,300 employees at more than 200 locations in around 30 countries is complemented and reinforced by their talent and motivation. Flat hierarchies and small, flexible teams are the key to our success. At the same time, this efficient team-working approach offers our employees clear opportunities for development and promotion at home and abroad.
				p.text--01 It is always people who make the difference. It is not just individual skills that are required at Logwin but also a collaborative dialog and cooperation, which together give rise to something new.
				p.text--01 This is exactly what the curves of our trademark logo stand for.
				br
				.row
					.col-xs-12.col-sm-6
						article.entry-item
							.entry-thumb
								a(href="#"): img(src="http://placehold.it/255x150", alt="")
							//entry thumb

							.entry-content
								h4.entry__title.style--05: a(href="#") Management Trainee Programme
								p.text--01 As a summer trainee you will participate in a mini version of our trainee programme.
								a(href='#').kopa__viewMore.style--04 Know More
							// entry content
						// entry item
					// col

					.col-xs-12.col-sm-6
						article.entry-item
							.entry-thumb
								a(href="#"): img(src="http://placehold.it/255x150", alt="")
							//entry thumb

							.entry-content
								h4.entry__title.style--05: a(href="#") Summer Internship Programme
								p.text--01 As a summer trainee you will participate in a mini version of our trainee programme.
								a(href='#').kopa__viewMore.style--04 Know More
							// entry content
						// entry item
					// col
				// row
			// col
		// row
	// kopa content sub page content
// kopa our team