.widget.kopa__client.style--01.kopa__reveal.right
	.widget-title.style--01
		h2.primary__title What Clients Say

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.widget-content
		.kopa__slider__client.style--01.owl-wrapper.owl__pagi--first
			+owl-carousel(1, 1, 1, 1, 1, 'false', 'false', 'true', 'false')
				- for ( x = 1; x <= 3; x ++ )
					article.entry-item
						header.client__header.text--white
							a(href='#'): img(src='http://placehold.it/85x85', alt='')
							h5.client__header__name: a(href='#') Jonathan Adams
							span.client__header__subName CEO,smart move Ltd
						// client header

						footer.client__footer
							p Core values are the fundamental beliefs of a person or organization.The guiding principles that t dictate behavior and action. Core valuescan help people to know what is right from wrong.
						// client footer
					// entry-item
	// widget content
// kopa client