.widget.kopa__contact.style--03
	.widget-title.style--08
		h2.primary__title #{elementTitle}

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted

		p.text__title Transcargo makes business flow. As one of the world’s leading non-asset based supply chain management companies, we design and implemenindustry leading solutions in both freight management. Over 42,000 dedicated  employees, working in 17 regional clusters.
	// widget title

	.widget-content
		p
			i.fa.fa-phone
			| +48 604 323 092
		p 
			i.fa.fa-envelope-o
			| kopasoft@gmail.com

		include form-contact-01
	// widget content
// kopa contact