.widget.kopa__contact.style--02
	.widget-title.style--04
		h4.primary__title Get In Touch
	// widget title

	.widget-content
		p
			i.fa.fa-map-marker
			| 14 Tottenham Road, N1 4EP London, United Kingdom
		p
			i.fa.fa-phone
			a(href='#') +44 (0) 800 765 4321
			a(href='#') +44 (0) 800 777 4579
	// widget content
// kopa contact