.widget.kopa__contact.style--01.kopa__reveal.left
	.widget-title.style--01
		h2.primary__title Contact

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted

		p.text__title Cozy sphinx waves quart jug of bad
			br
			| milk. A very bad quack might jinx
			br
			| zippy fowls.
	// widget title

	.widget-content
		img(src='http://placehold.it/320x345', alt='')
		p
			i.fa.fa-phone
			| +48 604 323 092
		p 
			i.fa.fa-envelope-o
			| kopasoft@gmail.com

		a.btn.btn--md.btn--curve.btn__color--primary(href='#') CONTACT NOW
	// widget content
// kopa contact