.kopa__countDown.style--03(data-year="2016", data-month="12", data-day="31", data-time="00:00:00")
	div.kopa__chart.kopa__chart__days(data-percent="0", data-color="#1a2633",  data-width="7", data-size="160", data-time="1000")
		span#kopa__days
		p.kopa__time Days
	// kopa chart

	div.kopa__chart.kopa__chart__hours(data-percent="0", data-color="#1a2633",  data-width="7", data-size="160", data-time="1000")
		span#kopa__hours
		p.kopa__time Days
	// kopa chart

	div.kopa__chart.kopa__chart__minutes(data-percent="0", data-color="#1a2633",  data-width="7", data-size="160", data-time="1000")
		span#kopa__minutes
		p.kopa__time Minutes
	// kopa chart

	div.kopa__chart.kopa__chart__seconds(data-percent="0", data-color="#1a2633",  data-width="7", data-size="160", data-time="1000")
		span#kopa__seconds
		p.kopa__time Seconds
	// kopa chart
// kopa count down