.kopa__customerService.style--01
	h2.kopa__customerService__title Customer service

	.kopa__customerService__content
		- for ( var i = 1; i <= 3; i++ )
			.row
				.col-xs-12.col-sm-4.col-md-4
					article.entry-item
						.entry-content
							.kopa__entry--top
								h5.entry-title: a(href="#") Parcels

								.kopa__line--dotted.style--02
									span.kopa__line--dotted--small.kopa__line--dotted--dark
									span.kopa__line--dotted--small.kopa__line--dotted--gray
									span.kopa__line--dotted--small.kopa__line--dotted--light
								// kopa line dotted
							// kopa entry top

							.kopa__entry--bottom
								p.kopa__entry__phone International:
									span Tel. +46 8 400 00 765
								em Country specific &amp; other contact information
							// kopa entry bottom
						// entry content
					// entry item
				// col

				.col-xs-12.col-sm-4.col-md-4
					article.entry-item
						.entry-content
							.kopa__entry--top
								h5.entry-title: a(href="#") Courier and express delivery

								.kopa__line--dotted.style--02
									span.kopa__line--dotted--small.kopa__line--dotted--dark
									span.kopa__line--dotted--small.kopa__line--dotted--gray
									span.kopa__line--dotted--small.kopa__line--dotted--light
								// kopa line dotted
							// kopa entry top

							.kopa__entry--bottom
								p.kopa__entry__phone International:
									span Tel. +46 8 400 00 765
								em Country specific &amp; other contact information
							// kopa entry bottom
						// entry content
					// entry item
				// col

				.col-xs-12.col-sm-4.col-md-4
					article.entry-item
						.entry-content
							.kopa__entry--top
								h5.entry-title: a(href="#") Cargo

								.kopa__line--dotted.style--02
									span.kopa__line--dotted--small.kopa__line--dotted--dark
									span.kopa__line--dotted--small.kopa__line--dotted--gray
									span.kopa__line--dotted--small.kopa__line--dotted--light
								// kopa line dotted
							// kopa entry top

							.kopa__entry--bottom
								p.kopa__entry__phone International:
									span Tel. +46 8 400 00 765
								em Country specific &amp; other contact information
							// kopa entry bottom
						// entry content
					// entry item
				// col
			// row
	// kopa customer service content
// kopa customer service