section.widget.widget_text
	.widget-title
		h3.primary__title Text

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.textwidget
		p
			strong Large image: Hand Coded
			br
			img(src="http://placehold.it/300x225", alt="")
			br
			strong Large image: linked in a caption
		.caption.alignnone
			a(href="#"): img(src="http://placehold.it/960x720", alt="").size-large
			p.wp-caption-text This image is 960 by 720 pixels.
				img(src="http://placehold.it/300x225", alt="").wp-smiley
		p
			strong Meat!
			br
			| Hamburger fatback andouille, ball tip bacon t-bone turkey tenderloin. Ball tip shank pig, t-bone turducken prosciutto ground round rump bacon pork chop short loin turkey. Pancetta ball tip salami, hamburger t-bone capicola turkey ham hock pork belly tri-tip. Biltong bresaola tail, shoulder sausage turkey cow pork chop fatback. Turkey pork pig bacon short loin meatloaf, chicken ham hock flank andouille tenderloin shank rump filet mignon. Shoulder frankfurter shankle pancetta. Jowl andouille short ribs swine venison, pork loin pork chop meatball jerky filet mignon shoulder tenderloin chicken pork.
			br
			strong Smile!
			br
			img(src="http://placehold.it/300x225", alt="")
			img(src="http://placehold.it/300x225", alt="")
			br
			img(src="http://placehold.it/300x225", alt="")
			br
			strong Select Element with long value
		form(method="get", action="/")
			select
				option First
				option Second
				option Third OMG! How can one option contain soooo many words? This really is a lot of words.
// widget text