section.widget.widget_calendar
	.widget-title
		h3.primary__title CALENDAR

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.calendar_wrap
		table
			caption April 2016

			thead
				tr
					th M
					th T
					th W
					th T
					th F
					th S
					th S

			tfoot
				tr
					td(colspan="3")#prev: a(href="#") « Jan
					td.pad &nbsp;
					td(colspan="3")#next.pad &nbsp;

			tbody
				tr
					td(colspan="4").pad &nbsp;
					td 1
					td 2
					td 3
				tr
					td 4
					td 5
					td 6 
					td 7
					td 8
					td#today: a(href="#") 9
					td 10
				tr
					td 11
					td 12
					td 13
					td 14
					td 15
					td 16
					td 17
				tr
					td 18
					td 19
					td 20
					td 21
					td 22
					td 23
					td 24
				tr
					td 25
					td 26
					td 27
					td 28
					td 29
					td 30
					td.pad(colspan="1") &nbsp;
	// calendar wrap
// widget calendar