section.widget.widget_tag_cloud
	.widget-title
		h3.primary__title Tag Cloud

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.tagcloud
		a(href="#") 8BIT
		a(href="#") alignment
		a(href="#") Articles
		a(href="#") aside
		a(href="#") audio
		a(href="#") captions
		a(href="#") categories
// widget tag