section.widget.widget_meta
	.widget-title
		h3.primary__title Meta

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title
	
	ul
		li: a(href="#") Site Admin
		li: a(href="#") Log out
		li
			a(href="#") Entries
				abbr RSS
		li
			a(href="#") Comments
				abbr RSS
		li: a(href="#") WordPress.org	
// widget meta