section.widget.widget_categories
	.widget-title
		h3.primary__title Categories Dropdown

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	label.screen-reader-text Categories Dropdown
	select.postform#cat
		- for ( var i = 1; i <= 10; i++ )
			option aciform&nbsp;&nbsp;(1)
// widget categories