section.widget.widget_recent_entries
	.widget-title
		h3.primary__title Recent Posts

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title
	
	ul
		li: a(href="#") Hello world!
// widget recent entries