section.widget.widget_nav_menu
	.widget-title
		h3.primary__title Nav Menu

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.menu-testing-menu-container
		ul.menu
			li.menu-item
				a(href="#") Pages
				ul.sub-menu
					li.menu-item
						a(href="#") Pages
						ul.sub-menu
							li.menu-item
								a(href="#") Pages
								ul.sub-menu
									li.menu-item
										a(href="#") Pages
										ul.sub-menu
											li.menu-item
												a(href="#") Pages
												ul.sub-menu
													li.menu-item
														a(href="#") Pages
														ul.sub-menu
															li.menu-item
																a(href="#") Pages
																ul.sub-menu
																	li.menu-item
																		a(href="#") Pages
																		ul.sub-menu
																			li.menu-item
																				a(href="#") Pages
																				ul.sub-menu
																					li.menu-item
																						a(href="#") Pages
																						ul.sub-menu
																							li.menu-item
																								a(href="#") Pages
			li.menu-item: a(href="#") Pages
			li.menu-item: a(href="#") Pages
			li.menu-item: a(href="#") Pages
			li.menu-item: a(href="#") Pages
			li.menu-item: a(href="#") Pages
			li.menu-item: a(href="#") Pages
// widget nav menu