section.widget.widget_search
	form.search-form(role="search", method="get", action="/")
		label
			span.screen-reader-text Search for:
			input(type="search", placeholder="Search …", value="").search-field
		button.search-submit(type="submit")
			span.screen-reader-text Search
// widget search