.widget.kopa__directLink.style--01
	.widget-title
		h3.primary__title Direct links
	// widget title

	.widget-content
		ul
			li
				i.ti-id-badge
				a(href="#") The People Network
			li
				i.ti-world
				a(href="#") Our network
			li
				i.fa.fa-newspaper-o
				a(href="#") Media Centre
			li
				i.ti-user
				a(href="#") Careers
			li
				i.fa.fa-hand-peace-o
				a(href="#") Corporate Responsibility
	// widget content
// kopa direct link