.kopa__event.style--02
	.kopa__event__time
		span.kopa__event__time__day 16
		span.kopa__event__time__month feb
	// kopa event time

	.kopa__event_content
		.kopa__event__category
			a(href="#") ARTIST
			| ,
			a(href="#") RECORDING
		// kopa event category

		h3.kopa__event__title: a(href="#") Rock Band Night...

		p
			i.fa.fa-calendar
			| February 16,2016
			br
			| All day

		p
			i.fa.fa-map-marker
			| 214 wincobank avenue, sheffield, S5 6BD

		a(href="#").btn.btn--md.btn--curve.btn--border--thick.style--05 FREE NOW
	// kopa event content
// kopa event