.kopa__galleryPage.style--01
	.kopa__filterOptions__wrap
		span Filter:
		ol.kopa__filterOptions
			li(data-filter="*").active All
			li(data-filter="1") TRANSPORTATION
			li(data-filter="2") DELIVERY
			li(data-filter="3") CHANGE
	// kopa filter options wrap

	.kopa__filterOptions__content
		.col-xs-12.col-sm-4.col-md-3(data-filter='["1,2,3"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Ocean Cargo Roundtable
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-4.col-md-3(data-filter='["3"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Import Fundamentals
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-4.col-md-3(data-filter='["2"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') The E - Commerce effect
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-4.col-md-3(data-filter='["1,2"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Air Freight forwarding
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-4.col-md-3(data-filter='["1,3"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Ocean Cargo Roundtable
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-4.col-md-3(data-filter='["2,3"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Import Fundamentals
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-4.col-md-3(data-filter='["1"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') The E - Commerce Effect
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col

		.col-xs-12.col-sm-4.col-md-3(data-filter='["1,3"]')
			article.entry-item
				.entry-thumb
					a(href="#"): img(src="http://placehold.it/270x315", alt="")
				// entry thumb

				.entry-content
					.kopa__iconType
						i.fa.fa-heart-o
						|9
					// kopa icon type

					.entry__title.style--02
						span.meta__category: a(href='#') News
						h2.entry-title: a(href='#') Air Freight forwarding
						span.meta__date 19/01/2016
					// entry title

					p.text--01 Our strategically positioned warehouses

					a.btn.btn--md.btn--curve.btn__color--primary(href='#') image Detail
				// entry content
			// entry item
		// col
	// kopa filter options content
// kopa gallery