.kopa__incoterm.style--01
	header.kopa__incoterm__header
		h2.kopa__incoterm__title What are Incoterms?
		p.text--01 INCOTERMS are a set of three-letter standard trade terms most commonly used in international contracts for the sale of goods. It is essential that you are aware of your terms of trade prior to shipment.
	// kopa incoterm header

	.kopa__incoterm__content
		- for ( var i = 1; i <= 4; i++ )
			.row
				.col-xs-12.col-sm-4.col-md-4
					article.entry-item
						.entry-content
							.kopa__entry--top
								h5.entry-title: a(href="#") EXW (EX Works)

								.kopa__line--dotted.style--02
									span.kopa__line--dotted--small.kopa__line--dotted--dark
									span.kopa__line--dotted--small.kopa__line--dotted--gray
									span.kopa__line--dotted--small.kopa__line--dotted--light
								// kopa line dotted
							// kopa entry top

							.kopa__entry--bottom
								p.text--01 EX Works EXW named place Incoterms® 2010 — This term may be used for either domestic or international trade.
							// kopa entry bottom
						// entry content
					// entry item
				// col

				.col-xs-12.col-sm-4.col-md-4
					article.entry-item
						.entry-content
							.kopa__entry--top
								h5.entry-title: a(href="#") FCA (Free Carrier)

								.kopa__line--dotted.style--02
									span.kopa__line--dotted--small.kopa__line--dotted--dark
									span.kopa__line--dotted--small.kopa__line--dotted--gray
									span.kopa__line--dotted--small.kopa__line--dotted--light
								// kopa line dotted
							// kopa entry top

							.kopa__entry--bottom
								p.text--01 Free Carrier FCA named place Incoterms® 2010 — This term may be used whatever mode or modes of transport will be used.
							// kopa entry bottom
						// entry content
					// entry item
				// col

				.col-xs-12.col-sm-4.col-md-4
					article.entry-item
						.entry-content
							.kopa__entry--top
								h5.entry-title: a(href="#") CPT (Carriage Paid To)

								.kopa__line--dotted.style--02
									span.kopa__line--dotted--small.kopa__line--dotted--dark
									span.kopa__line--dotted--small.kopa__line--dotted--gray
									span.kopa__line--dotted--small.kopa__line--dotted--light
								// kopa line dotted
							// kopa entry top

							.kopa__entry--bottom
								p.text--01 Carriage Paid To CPT named place Incoterms® 2010 — This term may be used whatever mode or modes of transport will be used.
							// kopa entry bottom
						// entry content
					// entry item
				// col
			// row
	// kopa incoterm content
// kopa incoterm