include ../base/mixin
.widget.kopa__news.style--02.kopa__reveal.bottom
	.widget-title.style--05
		h3.primary__title: a(href='#') Latest News
	// widget title

	.widget-content
		.row
			+news02([
				{'img_item': 'http://placehold.it/570x370'},
				{'img_item': 'http://placehold.it/570x370'},
				{'img_item': 'http://placehold.it/570x370'},
				{'img_item': 'http://placehold.it/570x370'}
			])
		// row
	// widget content
// kopa news