include ../base/mixin

.widget.kopa__news.style--01.kopa__reveal
	.widget-title.style--01
		h2.primary__title Latest News

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.widget-content
		.row
			.col-xs-12.col-sm-6.col-md-6
				article.entry-item.primary__news.matchHeight
					.entry-thumb
						a(href='#'): img(src='http://placehold.it/570x370', alt='')
					// entry thumb

					.entry-content
						.entry__title.style--01.text--white
							span.meta__category: a(href='#') News
							h2.entry-title: a(href='#') Trucking - Company of the Year 2014
							span.meta__date 19/01/2016
							.kopa__line--dotted.style--03
								span.kopa__line--dotted--small.kopa__line--dotted--light
								span.kopa__line--dotted--small.kopa__line--dotted--gray
								span.kopa__line--dotted--small.kopa__line--dotted--dark
							// kopa line dotted
						// entry title

						p.text--white Our strategically positioned warehouses and alliances with a worldwide networkof ocean carriers, agents, trucking companies...

						a(href='#').kopa__viewMore.style--01 Know More
					// entry content
				// entry item
			// col

			.col-xs-12.col-sm-6.col-md-6
				.slider__news.style--01.owl-wrapper.owl__nav--first
					+owl-carousel(2, 2, 2, 2, 1, 'false', 'true', 'false', 'false')
						- for ( var x = 1; x <= 4; x++ )
							article.entry-item.matchHeight
								.entry-content
									.entry__title.style--01
										span.meta__category: a(href='#') News
										h2.entry-title: a(href='#') Trucking - Company of the Year 2014
										span.meta__date 19/01/2016
										.kopa__line--dotted.style--03
											span.kopa__line--dotted--small.kopa__line--dotted--light
											span.kopa__line--dotted--small.kopa__line--dotted--gray
											span.kopa__line--dotted--small.kopa__line--dotted--dark
									// entry title

									p Our strategically positioned warehouses...

									a(href='#').kopa__viewMore.style--01 Know More
								// entry content
							// entry item
				// slider news
			// col
		// row
	// widget content
// kopa news