.widget.kopa__newsLetter.style--01
	.widget-title.style--04
		h4.primary__title Newsletter subscribe
	// widget title

	.widget-content
		p Subscribe to our newsletter and we will inform you about newest
		form(action='/')
			input(type='text', placeholder='Enter your Email')
			input(type='submit', value='Subscribe').btn.btn--sm.btn--curve.btn__color--primary
	// widget content
// kopa news letter