article.page.type-page
	header.entry-header
		h1.entry-title Order Received
	// entry header

	.entry-content
		.woocommerce
			p.woocommerce-thankyou-order-received Thank you. Your order has been received.
			ul.woocommerce-thankyou-order-details.order_details
				li.order Order Number:
					strong 1706
				li.date Date:
					strong April 17, 2016
				li.total Total:
					strong: span.amount $64
				li.method Payment Method:
					strong Direct Bank Transfer
			.clear
			
			p Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.

			h2 Our Bank Details

			ul.order_details.bacs_details

			h2 Order Details

			table.shop_table.order_details
				thead
					tr
						th.product-name Product
						th.product-total Total
				tbody
					tr.order_item
						td.product-name
							a(href="#") Woo Single #1
							strong.product-quantity × 2
						td.product-total
							span.amount $64
				tfoot
					tr
						th Subtotal:
						td: span.amount $64
					tr
						th Payment Method:
						td Direct Bank Transfer
					tr
						th Total:
						td: span.amount $64
		// woocommerce
	// entry content
// page