prepend titleAbout7
	- var titleAbout7 = 'Meet the People Network'

.kopa__ourCompany
	.kopa__ourCompany--top
		.kopa__ourCompany--left
			include ../widget/about-07
		// kopa our company left

		.kopa__ourCompany--right
			include ../widget/direct-link
		// kopa our company right
	// kopa our company top

	.kopa__ourCompany--bottom
		.row
			.col-xs-12
				article.entry-item
					.entry-thumb
						a(href="#"): img(src="http://placehold.it/1170x380", alt="")
					// entry thumb

					.entry-content
						h2.entry-title: a(href="#") The people network
						p At TNT, your people and your business are at the heart of everything we do.
						a.btn.btn--md.btn--curve.btn__color--primary(href='#') view
							i.fa.fa-angle-right
					// entry content
				// entry item
			// col

			.col-xs-6
				article.entry-item
					.entry-thumb
						a(href="#"): img(src="http://placehold.it/570x380", alt="")
					// entry thumb

					.entry-content
						h2.entry-title: a(href="#") our network
						p At TNT, your people and your business are at the heart of everything we do.
						a.btn.btn--md.btn--curve.btn__color--primary(href='#') view
							i.fa.fa-angle-right
					// entry content
				// entry item
			// col

			.col-xs-6
				article.entry-item
					.entry-thumb
						a(href="#"): img(src="http://placehold.it/570x380", alt="")
					// entry thumb

					.entry-content
						h2.entry-title: a(href="#") media centre
						p At TNT, your people and your business are at the heart of everything we do.
						a.btn.btn--md.btn--curve.btn__color--primary(href='#') view
							i.fa.fa-angle-right
					// entry content
				// entry item
			// col
		// row
	// kopa our company bottom
// kopa our company