.kopa__contentSubPage
	.kopa__contentSubPage__content
		.row
			.col-xs-12.col-md-4
				.kopa__navSub.style--01
					.kopa__navSub__title
						h6 Our Team Single
						i.fa.fa-angle-right
					// kopa nav sub title

					ul
						li: a(href="#") Dr. Antonius Wagner
						li: a(href="#") Thomas Eisen
						li: a(href="#") Marcus Cebulla
						li: a(href="#") Sebastian Esser
						li: a(href="#") Hauke Müller
						li: a(href="#") Axel Steiner
						li: a(href="#") Dr. Michael Kemmer
				// kopa nav sub
			// col

			.col-xs-12.col-md-8
				.kopa__list_detail
					header.kopa__list_detail__header
						.kopa__list_detail__thumb
							a(href="#"): img(src="http://placehold.it/100x100", alt="")
						// kopa list detail thumb

						h3: a(href="#") Dr. Antonius Wagner (*1961)
						p CEO
						p Chairman of the Executive Committee
					// kopa list detail header

					.kopa__list_detail__content
						h4 Member of the Management Board of DELTON AG, Bad Homburg v. d. Höhe (GER
						p.text--01 After studying business administration in Münster, he was initially attached to the Institut für Revisionswesen (Institute for Audit Studies) at the University of Münster. Key positions after this include commercial manager for Bosch Diesel in Jihlava (Czech Republic), a spell with McKinsey Consulting and commercial manager (CFO) at Lafarge Dachsysteme in Oberursel. Since February 2002 member of the managing board of DELTON AG in Bad Homburg. In October 2002 he became Member of the Board of Directors and in September 2005 Member of the Executive Committee of Logwin AG. Since April 2014 Chairman of the Executive Committee and the Board of Directors.
					// kopa list detail content
				// kopa list detail
			// col
		// row
	// kopa content sub page content
// kopa our team