.kopa__contentSubPage
	.kopa__contentSubPage__content
		.row
			.col-xs-12.col-md-4
				.kopa__navSub.style--01
					.kopa__navSub__title
						h6 Our Team
						i.fa.fa-angle-right
					// kopa nav sub title

					ul
						li: a(href="#") Dr. Antonius Wagner
						li: a(href="#") Thomas Eisen
						li: a(href="#") Marcus Cebulla
						li: a(href="#") Sebastian Esser
						li: a(href="#") Hauke Müller
						li: a(href="#") Axel Steiner
						li: a(href="#") Dr. Michael Kemmer
				// kopa nav sub
			// col

			.col-xs-12.col-md-8
				.kopa__list.style--03
					h3 The Management of Logwin AG

					p.text--01 According to Luxembourg company law and Logwin AG’s company statutes, the Board of Directors is the Group’s control committee. It is elected at the Annual General Meeting of the company and its tenure lasts a maximum of six years.

					p.text--01 The Board of Directors has imposed upon itself rules of procedure that control its tasks and mode of operation. The Board of Directors consists of non-executive and executive members. The Executive Committee is responsible for operating tasks.

					h4 Members of the Executive Committee at Logwin AG

					.row
						- for ( var i = 1; i <= 6; i++ )
							.col-xs-12.col-sm-6
								.kopa__listOfPerson.style--01
									a(href="#"): img(src="http://placehold.it/100x100", alt="")
									h5: a(href="#") Dr. Antonius Wagner (*1961)
									p CEO
									a(href='#').kopa__viewMore.style--04 Know More
								// kopa our team list item
							// col
					// row

					h4 Members of the Executive Committee at Logwin AG

					p.text--01 The rules of procedure for the Board of Directors provide for the creation of committees. The Board of Directors has formed an Audit Committee and an Appointments &amp; Remuneration Committee. These committees fulfill the functions delegated to them by the rules of procedure in the name and on behalf of the Board of Directors.

					h5 Audit Committee:

					p.text--01 Dr. Yves Prussen, Chairman
						br
						| Dr. Michael Kemmer, Deputy Chairman
						br
						| Hans-Peter Hermani

					h5 Audit Committee:

					p.text--01 Appointments &amp; Remuneration Committee:
						br
						| Dr. Michael Kemmer, Deputy Chairman
						br
						| Hans-Peter Hermani
				// kopa our team list
			// col
		// row
	// kopa content sub page content
// kopa content sub page