.kopa__pagination.style--01
	span.kopa__navAll Page 1 of 3

	nav.navigation.pagination(role="navigation")
		h2.screen-reader-text Posts navigation
		.nav-links
			a(href="#").prev.page-numbers: i.fa.fa-angle-left
			a(href="#").page-numbers 1
			span.page-numbers.current 2
			a(href="#").page-numbers 3
			a(href="#").next.page-numbers: i.fa.fa-angle-right
		// nav links
// kopa pagination