.kopa__pricingTable.style--01
	.row
		.col-xs-12.col-sm-4
			.kopa__pricingTable__list
				.kopa__pricingTable__header
					h3.kopa__pricingTable__title Basic
					strong.kopa__pricingTable__price 29
						span $
					span.kopa__pricingTable__sub /per month
				// kopa pricing table header

				.kopa__pricingTable__content
					ul
						li 10 User Account
						li 6000 Content Pages
						li Not Responsive
						li 100 GB Bandwidth

					a(href="#").btn.btn--md.btn--curve.btn--border--thick.style--05 PURCHASE NOW
				// kopa pricing table content
			// kopa pricing table list
		// col

		.col-xs-12.col-sm-4
			.kopa__pricingTable__list
				.kopa__pricingTable__header
					h3.kopa__pricingTable__title Standard
					strong.kopa__pricingTable__price 39
						span $
					span.kopa__pricingTable__sub /per month
				// kopa pricing table header

				.kopa__pricingTable__content
					ul
						li 10 User Account
						li 6000 Content Pages
						li Not Responsive
						li 100 GB Bandwidth

					a(href="#").btn.btn--md.btn--curve.btn--border--thick.style--05 PURCHASE NOW
				// kopa pricing table content
			// kopa pricing table list
		// col

		.col-xs-12.col-sm-4
			.kopa__pricingTable__list
				.kopa__pricingTable__header
					h3.kopa__pricingTable__title Premium
					strong.kopa__pricingTable__price 49
						span $
					span.kopa__pricingTable__sub /per month
				// kopa pricing table header

				.kopa__pricingTable__content
					ul
						li 10 User Account
						li 6000 Content Pages
						li Not Responsive
						li 100 GB Bandwidth

					a(href="#").btn.btn--md.btn--curve.btn--border--thick.style--05 PURCHASE NOW
				// kopa pricing table content
			// kopa pricing table list
		// col
	// row
// kopa pricing table