.kopa__request
	.kopa__request__title
		i.fa.fa-building
		h2 Request a quick quote
	// kopa__request title

	.kopa__request__content
		p.text--01 Please fill in your request and contact details, and we will contact you as soon as possible.
		br
		.row
			.col-xs-12.col-md-3
				h5 Product areas
			// col

			.col-xs-12.col-md-3
				p
					input(type="radio", name="kopa__radio")
					|Parcels up to 35 kg
				p
					input(type="radio", name="kopa__radio")
					|Cargo
				p
					input(type="radio", name="kopa__radio")
					|Express deliveries
				p
					input(type="radio", name="kopa__radio")
					|Warehouse services
			// col

			.col-xs-12.col-md-3
				p
					input(type="radio", name="kopa__radio")
					|Direct mail
				p
					input(type="radio", name="kopa__radio")
					|Postal services
				p
					input(type="radio", name="kopa__radio")
					|Brokerage
				p
					input(type="radio", name="kopa__radio")
					|All
			// col
		// row
		br
		p.text--01 Your enquiry: Please give us as much detail as possible, in order to help us respond in the most efficient manner possible.
		br
		textarea
		br
		br
		br
		h5 Contact information
		br
		form(action="/")
			.row
				.col-xs-12.col-sm-6
					input(type="text", placeholder="Company name")
				// col

				.col-xs-12.col-sm-6
					input(type="text", placeholder="Contact person")
				// col

				.col-xs-12.col-sm-6
					input(type="text", placeholder="Organisation number")
				// col

				.col-xs-12.col-sm-6
					input(type="text", placeholder="Telephone number")
				// col

				.col-xs-12.col-sm-6
					input(type="text", placeholder="Total gross weight (KG)")
				// col

				.col-xs-12.col-sm-6
					input(type="text", placeholder="Email address")
				// col

				.col-xs-12.col-sm-6
					input(type="text", placeholder="Country")
				// col

				.col-xs-12.col-sm-6
					input(type="submit", value="Send Message").btn.btn--md.btn--curve.btn--border--thick.style--05
				// col
			// row
	// kopa__request content
// kopa__request