include ../base/mixin

.widget.kopa__service.style--02.kopa__reveal
	.row
		.col-xs-12
			.widget-title.style--02
				h2.primary__title WE OFFER QUICK &amp; POWERFUL
				p.text__title As one of the world’s leading non-asset-based supply chain management
				.kopa__line--dotted.style--03
					span.kopa__line--dotted--small.kopa__line--dotted--light
					span.kopa__line--dotted--small.kopa__line--dotted--gray
					span.kopa__line--dotted--small.kopa__line--dotted--dark
					span.kopa__line--dotted--wide
					span.kopa__line--dotted--small.kopa__line--dotted--dark
					span.kopa__line--dotted--small.kopa__line--dotted--gray
					span.kopa__line--dotted--small.kopa__line--dotted--light
				// kopa line dotted
			// widget title

			.widget-content
				.kopa__tab.style--07
					ul.nav.nav-tabs.responsive(role='tablist')
						li.active(role='presentation')
							a(href='#kopa__tab--23', aria-controls='kopa__tab--23', role='tab', data-toggle='tab')
								i.fa.fa-cube
								span Warehousing

						li(role='presentation')
							a(href='#kopa__tab--24', aria-controls='kopa__tab--24', role='tab', data-toggle='tab')
								i.fa.fa-truck
								span Warehousing

						li(role='presentation')
							a(href='#kopa__tab--25', aria-controls='kopa__tab--25', role='tab', data-toggle='tab')
								i.fa.fa-bicycle
								span Warehousing

						li(role='presentation')
							a(href='#kopa__tab--26', aria-controls='kopa__tab--26', role='tab', data-toggle='tab')
								i.fa.fa-plane
								span Warehousing

						li(role='presentation')
							a(href='#kopa__tab--27', aria-controls='kopa__tab--27', role='tab', data-toggle='tab')
								i.fa.fa-ship
								span Warehousing
					// nav tabs

					.tab-content.responsive
						.tab-pane.fade.in.active#kopa__tab--23(role='tabpanel')
							include text-01
						// tab pane

						.tab-pane.fade.in#kopa__tab--24(role='tabpanel')
							include text-02
						// tab pane

						.tab-pane.fade.in#kopa__tab--25(role='tabpanel')
							include text-03
						// tab pane

						.tab-pane.fade.in#kopa__tab--26(role='tabpanel')
							include text-01
						// tab pane

						.tab-pane.fade.in#kopa__tab--27(role='tabpanel')
							include text-02
						// tab pane
					// tab content
				// kopa tab
			// widget content
		// col
	// row
// kopa service