.widget.kopa__service.style--03.kopa__reveal.left
	.widget-title.style--05
		h3.primary__title: a(href='#') What we Offer
	// widget title

	.widget-content
		.row
			ul
				+service03([
					{'class_icon': 'ti-write', 'text_icon': 'Become a customer'},
					{'class_icon': 'fa fa-truck', 'text_icon': 'express services'},
					{'class_icon': 'fa fa-cubes', 'text_icon': 'Cargo'},
					{'class_icon': 'fa fa-fire', 'text_icon': 'Parcels'}
				])
		// row
	// widget content
// kopa service