.widget.kopa__service.style--04.kopa__reveal.bottom
	.kopa__service__header
		.widget-title.style--05
			h3.primary__title: a(href='#') our services
		// widget title
	// kopa service header

	.widget-content
		.kopa__tab.style--08
			ul.nav.nav-tabs.responsive(role='tablist')
				li.active(role='presentation')
					a(href='#kopa__service__tab--01', aria-controls='kopa__service__tab--01', role='tab', data-toggle='tab') WAREHOUSING

				li(role='presentation')
					a(href='#kopa__service__tab--02', aria-controls='kopa__service__tab--02', role='tab', data-toggle='tab') INLAND

				li(role='presentation')
					a(href='#kopa__service__tab--03', aria-controls='kopa__service__tab--03', role='tab', data-toggle='tab') FAST AIR FREIGHT

				li(role='presentation')
					a(href='#kopa__service__tab--04', aria-controls='kopa__service__tab--04', role='tab', data-toggle='tab') sea freight

				li(role='presentation')
					a(href='#kopa__service__tab--05', aria-controls='kopa__service__tab--05', role='tab', data-toggle='tab') GROUND SHIPPING
			// nav

			.tab-content.responsive
				.tab-pane.fade.in.active#kopa__service__tab--01(role='tabpanel')
					article.entry-item
						.entry-thumb
							a(href='#'): img(src='http://placehold.it/500x330', alt='')
						// entry thumb

						.entry-content
							h3.entry-title: a(href='#') Warehousing
							p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.
							a(href='#').kopa__viewMore.style--01 Know More
						// entry content
					// entry item
				// tab pane

				.tab-pane.fade.in#kopa__service__tab--02(role='tabpanel')
					article.entry-item
						.entry-thumb
							a(href='#'): img(src='http://placehold.it/500x330', alt='')
						// entry thumb

						.entry-content
							h3.entry-title: a(href='#') INLAND
							p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.
							a(href='#').kopa__viewMore.style--01 Know More
						// entry content
					// entry item
				// tab pane

				.tab-pane.fade.in#kopa__service__tab--03(role='tabpanel')
					article.entry-item
						.entry-thumb
							a(href='#'): img(src='http://placehold.it/500x330', alt='')
						// entry thumb

						.entry-content
							h3.entry-title: a(href='#') FAST AIR FREIGHT
							p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.
							a(href='#').kopa__viewMore.style--01 Know More
						// entry content
					// entry item
				// tab pane

				.tab-pane.fade.in#kopa__service__tab--04(role='tabpanel')
					article.entry-item
						.entry-thumb
							a(href='#'): img(src='http://placehold.it/500x330', alt='')
						// entry thumb

						.entry-content
							h3.entry-title: a(href='#') sea freight
							p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.
							a(href='#').kopa__viewMore.style--01 Know More
						// entry content
					// entry item
				// tab pane

				.tab-pane.fade.in#kopa__service__tab--05(role='tabpanel')
					article.entry-item
						.entry-thumb
							a(href='#'): img(src='http://placehold.it/500x330', alt='')
						// entry thumb

						.entry-content
							h3.entry-title: a(href='#') GROUND SHIPPING
							p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. deliver operational excellence.
							a(href='#').kopa__viewMore.style--01 Know More
						// entry content
					// entry item
				// tab pane
			// tab content
		// kopa tab
	// widget content
// kopa service