.widget.kopa__service.style--07
	.widget-content
		.col-xs-12.col-sm-4.col-md-2
			.kopa__service__list
				i.fa.fa-ship
				p.kopa__service__text: a(href="#") OCEAN TRANSPORTATION
			// kopa service list
		// col

		.col-xs-12.col-sm-4.col-md-2
			.kopa__service__list
				i.fa.fa-plane
				p.kopa__service__text: a(href="#") AIR TRANSPORTATION
			// kopa service list
		// col

		.col-xs-12.col-sm-4.col-md-2
			.kopa__service__list
				i.fa.fa-truck
				p.kopa__service__text: a(href="#") INLAND TRANSPORTATION
			// kopa service list
		// col

		.col-xs-12.col-sm-4.col-md-2
			.kopa__service__list
				i.fa.fa-car
				p.kopa__service__text: a(href="#") AUTO SHIPPING
			// kopa service list
		// col

		.col-xs-12.col-sm-4.col-md-2
			.kopa__service__list
				i.fa.fa-cubes
				p.kopa__service__text: a(href="#") WAREHOUSING
			// kopa service list
		// col

		.col-xs-12.col-sm-4.col-md-2
			.kopa__service__list
				i.fa.fa-database
				p.kopa__service__text: a(href="#") LOADING SERVICES
			// kopa service list
		// col
	// widget content
// kopa service