.widget.kopa__service.style--05
	.widget-content
		.row
			.col-xs-12.col-sm-4
				.kopa__service__list
					span.kopa__service__icon: i.fa.fa-briefcase
					h4.kopa__service__title: a(href="#") Free Support &amp; Updates
					p.text--01 Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor nonummy nibh euismod tincidunt. ut laoreet d olore magna.
				// kopa service list
			// col

			.col-xs-12.col-sm-4
				.kopa__service__list
					span.kopa__service__icon: i.fa.fa-pencil-square-o
					h4.kopa__service__title: a(href="#") Free Support &amp; Updates
					p.text--01 Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor nonummy nibh euismod tincidunt. ut laoreet d olore magna.
				// kopa service list
			// col

			.col-xs-12.col-sm-4
				.kopa__service__list
					span.kopa__service__icon: i.fa.fa-envelope-o
					h4.kopa__service__title: a(href="#") Free Support &amp; Updates
					p.text--01 Lorem ipsum dolor sit amet, consectetuer adipiscing elit dolor nonummy nibh euismod tincidunt. ut laoreet d olore magna.
				// kopa service list
			// col
		// row
	// widget content
// kopa service