.widget.kopa__service.style--08
	.widget-title.style--12
		h3.primary__title Services
	// widget title

	.widget-content
		article.entry-item
			.entry-content
				p Discover all TNT's solutions to ship your parcel in the easiest way
				a.btn.btn--md.btn--curve.btn__color--primary(href='#') view more
					i.fa.fa-angle-right
			// entry content
		// entry item
	// widget content
// kopa service