.widget.kopa__service.style--06
	.widget-content
		.col-xs-12.col-sm-3
			.kopa__service__list
				i.fa.fa-credit-card
				h3.kopa__service__text--large 1547
				p.kopa__service__text--small Satisfied Clients
			// kopa service list
		// col

		.col-xs-12.col-sm-3
			.kopa__service__list
				i.fa.fa-globe
				h3.kopa__service__text--large 24
				p.kopa__service__text--small GLOBAL TRADES
			// kopa service list
		// col

		.col-xs-12.col-sm-3
			.kopa__service__list
				i.fa.fa-home
				h3.kopa__service__text--large 254
				p.kopa__service__text--small INVESTMENT PARTNERS
			// kopa service list
		// col

		.col-xs-12.col-sm-3
			.kopa__service__list
				i.fa.fa-cogs
				h3.kopa__service__text--large 1547
				p.kopa__service__text--small PENSIONS 
			// kopa service list
		// col
	// widget content
// kopa service