.kopa__contentSubPage
	.kopa__link.style--01
		a(href="#") Transport
		a(href="#") Logistics
		a(href="#") Industries
	// kopa link

	.kopa__contentSubPage__content
		.kopa__tab.style--05
			.row
				ul.nav.nav-tabs.responsive(role='tablist')
					li.active(role='presentation')
						a(href='#kopa__tab--15', aria-controls='kopa__tab--15', role='tab', data-toggle='tab')
							i.fa.fa-globe
							|air freight    

					li(role='presentation')
						a(href='#kopa__tab--16', aria-controls='kopa__tab--16', role='tab', data-toggle='tab')
							i.fa.fa-globe
							|Sea freight

					li(role='presentation')
						a(href='#kopa__tab--17', aria-controls='kopa__tab--17', role='tab', data-toggle='tab')
							i.fa.fa-globe
							|Retail Network

					li(role='presentation')
						a(href='#kopa__tab--18', aria-controls='kopa__tab--18', role='tab', data-toggle='tab')
							i.fa.fa-globe
							|Project Logistics

					li(role='presentation')
						a(href='#kopa__tab--19', aria-controls='kopa__tab--19', role='tab', data-toggle='tab')
							i.fa.fa-globe
							|Air charter and OBC’s

					li(role='presentation')
						a(href='#kopa__tab--20', aria-controls='kopa__tab--20', role='tab', data-toggle='tab')
							i.fa.fa-globe
							|Ship Parts Logistics
				// nav tabs

				.tab-content.responsive
					.tab-pane.fade.in.active#kopa__tab--15(role='tabpanel')
						h3 Sea freight – on a safe course
						br
						p.text--01 We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.
						br
						p.text--01 Logwin coordinates the entire process, from choosing the right modes of transport and loading equipment to ensuring reliable shipping, including pre- and onward carriage. Modern IT systems provide an up-to-date overview of the shipment status at any time.
						br
						h4 The sea freight services provided by Logwin include:
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
							li Pre- and onward carriage, door-to-door
							li Buyers’ consolidation
							li Seaworthy packing
							li Customs clearance and documentation
							li Global shipment tracking
							li Transport insurance
					// tab pane

					.tab-pane.fade.in#kopa__tab--16(role='tabpanel')
						h3 Sea freight – on a safe course
						br
						p.text--01 We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.
						br
						h4 The sea freight services provided by Logwin include:
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
							li Pre- and onward carriage, door-to-door
							li Buyers’ consolidation
							li Seaworthy packing
							li Customs clearance and documentation
							li Global shipment tracking
							li Transport insurance
						br
						p.text--01 Logwin coordinates the entire process, from choosing the right modes of transport and loading equipment to ensuring reliable shipping, including pre- and onward carriage. Modern IT systems provide an up-to-date overview of the shipment status at any time.
					// tab pane

					.tab-pane.fade.in#kopa__tab--17(role='tabpanel')
						h3 Sea freight – on a safe course
						br
						p.text--01 We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.
						br
						h4 The sea freight services provided by Logwin include:
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
							li Pre- and onward carriage, door-to-door
							li Buyers’ consolidation
							li Seaworthy packing
							li Customs clearance and documentation
							li Global shipment tracking
							li Transport insurance
					// tab pane

					.tab-pane.fade.in#kopa__tab--18(role='tabpanel')
						h3 Sea freight – on a safe course
						br
						h4 The sea freight services provided by Logwin include:
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
						br
						p.text--01 We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.
					// tab pane

					.tab-pane.fade.in#kopa__tab--19(role='tabpanel')
						h3 Sea freight – on a safe course
						br
						h4 The sea freight services provided by Logwin include:
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
						br
						p.text--01 We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.
						br
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
					// tab pane

					.tab-pane.fade.in#kopa__tab--20(role='tabpanel')
						h3 Sea freight – on a safe course
						br
						h4 The sea freight services provided by Logwin include:
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
						br
						p.text--01 We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.
						br
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
						br
						ul.style--06
							li FCL and LCL shipments
							li Intermodal and combined transport
							li Gateway transport
							li Project logistics
					// tab pane
				// tab content
			// row
		// kopa tab
	// kopa content sub page content
// kopa content sub page