include ../base/mixin
.widget.kopa__service.style--01
	.row
		+service01([
			{'class_icon': 'ti-write', 'text_icon': 'Become a customer'},
			{'class_icon': 'fa fa-truck', 'text_icon': 'express services'},
			{'class_icon': 'fa fa-cubes', 'text_icon': 'Cargo'},
			{'class_icon': 'fa fa-fire', 'text_icon': 'Thermo'}
		])
	// row
// kopa service