section.widget.kopa__download.style--01
	.widget-content
		a(href="#").btn.btn--sm.btn--curve.btn--border--thick.style--06
			i.fa.fa-download
			| Download PDF
		a(href="contact.html").btn.btn--sm.btn--curve.btn--border--thick.style--06
			i.fa.fa-skype
			| Ask our experts
	// widget content
// kopa download