section.widget.kopa__location.style--01
	.widget-title
		h3.primary__title OUR LOCATIONS

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.widget-content
		img(src="http://placehold.it/180x100", alt="")

		a(href='#').kopa__viewMore.style--01 View All Location
	// widget content
// kopa location