.kopa__singleRelated.style--01.owl-wrapper.owl__nav--02
	.widget-title
		h3.primary__title RELATED ARTICLE

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.widget-content
		+owl-carousel(1, 1, 1, 1, 1, 'false', 'true', 'false', 'false')
			- for ( var i = 1; i <= 3; i++ )
				.item
					- for ( var x = 1; x <= 3; x++ )
						article.entry-item
							.entry-thumb
								a(href="#"): img(src="http://placehold.it/270x180", alt="")
							// entry thumb

							.entry-content
								h5.entry-title: a(href="#") Logwin extends portfolio of services in Polandbusiness
								p.text--01 Our strategically positioned warehouses and alliances with a worldwide network.of ocean carriers, agents, trucking companies as well as Rail Road expediters allow us to offer

								a(href='#').kopa__viewMore.style--01 Know More
							// entry content
						// entry item
				// item
	// widget content
// kopa single related