#comments
    h5 2 comments on “How To Protect a Planet”

    ol.comments-list
        li.comment
            article
                header.comment-header
                    .comment-avatar
                        a(href="#"): img(src="http://placehold.it/67x67", alt="")
                    // comment avatar

                    .comment-info
                        h6: a(href="#") Lori Rogers
                        .entry-meta
                            p.entry-date November 13, 2015 at 12:32 pm
                        // entry meta
                    // comment info
                // comment header

                .comment-content
                    p Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.Donec tempus rhoncus sem, et feugiat ligula hendrerit pretium.
                    .comment-button
                        a(href="#") Reply
                    // comment button
                // comment content
            ul.children
                li.comment
                    article
                        header.comment-header
                            .comment-avatar
                                a(href="#"): img(src="http://placehold.it/67x67", alt="")
                            // comment avatar

                            .comment-info
                                h6: a(href="#") Lori Rogers
                                .entry-meta
                                    p.entry-date November 13, 2015 at 12:32 pm
                                // entry meta
                            // comment info
                        // comment header

                        .comment-content
                            p Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.Donec tempus rhoncus sem, et feugiat ligula hendrerit pretium.
                            .comment-button
                                a(href="#") Reply
                            // comment button
                        // comment content
                // comment
        // comment

        li.comment
            article
                header.comment-header
                    .comment-avatar
                        a(href="#"): img(src="http://placehold.it/67x67", alt="")
                    // comment avatar

                    .comment-info
                        h6: a(href="#") Lori Rogers
                        .entry-meta
                            p.entry-date November 13, 2015 at 12:32 pm
                        // entry meta
                    // comment info
                // comment header

                .comment-content
                    p Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.Donec tempus rhoncus sem, et feugiat ligula hendrerit pretium.
                    .comment-button
                        a(href="#") Reply
                    // comment button
                // comment content
        // comment

        li.comment
            article
                header.comment-header
                    .comment-avatar
                        a(href="#"): img(src="http://placehold.it/67x67", alt="")
                    // comment avatar

                    .comment-info
                        h6: a(href="#") Lori Rogers
                        .entry-meta
                            p.entry-date November 13, 2015 at 12:32 pm
                        // entry meta
                    // comment info
                // comment header

                .comment-content
                    p Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.Donec tempus rhoncus sem, et feugiat ligula hendrerit pretium.
                    .comment-button
                        a(href="#") Reply
                    // comment button
                // comment content
        // comment
    // comment list

    .single-cmt-pagination
        a(href="#") 1
        span.current 2
        a(href="#") 3
        a(href="#").next: i.fa.fa-angle-right
    // single cmt pagination
// comment