.kopa__single.style--02
	article.single-entry-item
		.row
			.col-xs-12.col-md-9.pull-right
				h1.entry-title Tianjin Port Came to a Halt after

				br

				p How to move a machine that is 33m long, 15m wide and 18m high? BestLogistics’ Project Logistics team knows the drill. The team coordinated the transport of a terminal built by Van Aalst Bulk Handling — cranes to discharge cement, a ship loader and two conveyor systems — together about 17 000 tons via the port of Rotterdam, the Netherlands to its final destination in two new cement-import terminals in New Zealand.

				br

				p Curabitur sed diam dui. Aenean ac justo sem. Fusce imperdiet ac sem eu dapibus. Vivamus imperdiet eget nisl non gravida. Etiam rhoncus massa a lorem auctor.

				br

				h3 A PERFECT FIT.
			// col

			.col-xs-12.col-md-3.pull-left
				.kopa__singleAuthor
					.kopa__singleAuthor__avatar
						a(href="#"): img(src="http://placehold.it/67x67", alt="")

						h5: a(href="#") DWAYNE ANDREWS
						p in 
							span Business, 
							| Posted 
							span May 24, 2016 
					// kopa single author avatar

					.kopa__singleAuthor__social
						p
							span 345
							| people like post

						ul
							li: a(href="#"): img(src="images/placeholder/social/01.jpg", alt="")
							li: a(href="#"): img(src="images/placeholder/social/02.jpg", alt="")
							li: a(href="#"): img(src="images/placeholder/social/03.jpg", alt="")
					// kopa single author social
				// kopa single author
			// col
		// row

		p Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.

		br

		p Donec tempus rhoncus sem, et feugiat ligula hendrerit pretium. Quisque nec posuere odio. Cras blandit, erat commodo finibus auctor, orci justo molestie nulla, mattis luctus lorem massa et magna. Sed consequat, nisi non mattis euismod, mi metus venenatis lacus, id feugiat orci mi eu urna. consectetur, ac venenatis erat tristique.

		.row
			.col-xs-12.col-sm-6
				figure.wp-caption.alignnone.style--01
					img(src="http://placehold.it/870x580", alt="")
					figcaption.wp-caption-text
						p Tianjin Port Came to a Halt after Explosions
						span Photo copyright Jason Gilespy
			// col

			.col-xs-12.col-sm-6
				p As a sponsor of the Aprilia Racing team competing in the World Superbike Championship, one of the top three global motorsport series alongside Formula 1 and MotoGP we have got the pleasure of offering our customers a unique paddock grandstands and Aprilia box experience during several rounds.Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.

				p Donec tempus rhoncus sem, et feugiat ligula hendrerit pretium. Quisque nec posuere odio. Cras blandit, erat commodo finibus auctor, orci justo molestie nulla, mattis luctus lorem massa et magna. Sed consequat, nisi non mattis euismod, mi metus venenatis lacus, id feugiat orci mi eu urna. consectetur, ac venenatis erat tristique. Nunc eros metus, venenatis in cursus ut, aliquam eu diam.
			// col
		// row

		br

		p Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.

		br

		.kopa__blockQuote.style--04
			p Praesent mi risus, fringilla et congue a, adipiscing a justo. Etiam non nulla libero. Proin vitae feugiat ante. In semper dignissim rutrum. Etiam non nulla libero. Proin vitae feugiat ante. In semper dignissim rutrum.

			h6.kopa__blockQuote__author Brian Reed
		// kopa block quote

		br

		h3 ENJOY THE MORNING.

		br

		p Sed rutrum, nisi non interdum rhoncus, massa nunc porttitor purus, sed sagittis lectus diam ornare justo. Pellentesque a urna urna. Nam vulputate rutrum odio, at accumsan tortor dapibus sit amet. Sed posuere tincidunt consequat.Donec tempus rhoncus sem, et feugiat ligula hendrerit pretium. Quisque nec posuere odio. Cras blandit, erat commodo finibus auctor, orci justo molestie nulla, mattis luctus lorem massa et magna.

		ul.style--05
			li Aliquam erat volutpat
			li Exercitation photo booth stumptown tote bag Banksy
			li Tempor duis single-origin coffee
			li Magnis dis parturient montes

		br

		p Aenean vehicula lobortis eros. Nunc viverra, eros consectetur dignissim viverra, mauris diam lobortis nunc, ut viverra ante lorem non quam. Donec scelerisque dui at tellus eleifend, eu dignissim purus ullamcorper. Sed consequat, nisi non mattis euismod, mi metus venenatis lacus, id feugiat orci mi eu urna.
	// sing entry item

	include ../widget/tag

	include ../widget/social-03

	include ../widget/single-comment

	include ../widget/single-comment-form

	include ../widget/single-next-prev

	include ../widget/single-related
// kopa single