.kopa__singleNextPrev.style--01
	.kopa__singleNextPrev--left
		article.entry-item
			.entry-thumb
				a(href="#"): img(src="http://placehold.it/585x275", alt="")
			//  entry thumb

			.entry-content
				p Read Previous
				h4: a(href="#") What Everybody Ought to Know About CSS
			// entry content
		// entry item
	// kopa single next prev left

	.kopa__singleNextPrev--right
		article.entry-item
			.entry-thumb
				a(href="#"): img(src="http://placehold.it/585x275", alt="")
			//  entry thumb

			.entry-content
				p Read Next
				h4: a(href="#") What Everybody Ought to Know About CSS
			// entry content
		// entry item
	// kopa single next prev right
// kopa single next prev