.kopa__skillBar.style--02
	.kopa__skillBar__list
		.row
			.col-xs-12.col-sm-4.col-md-3
				h5.kopa__skillBar__title PHOTOGRAPHY
				span.kopa__skillBar__percent 80%
			// col

			.col-xs-12.col-sm-8.col-md-9
				.pro-bar-container
					.pro-bar.bar-80(data-pro-bar-percent="80")
				// pro bar container
			// col
		// row
	// kopa skill bar list

	.kopa__skillBar__list
		.row
			.col-xs-12.col-sm-4.col-md-3
				h5.kopa__skillBar__title HTML/CSS
				span.kopa__skillBar__percent 50%
			// col

			.col-xs-12.col-sm-8.col-md-9
				.pro-bar-container
					.pro-bar.bar-50(data-pro-bar-percent="50")
				// pro bar container
			// col
		// row
	// kopa skill bar list

	.kopa__skillBar__list
		.row
			.col-xs-12.col-sm-4.col-md-3
				h5.kopa__skillBar__title GRAPHIC DESIGN
				span.kopa__skillBar__percent 75%
			// col

			.col-xs-12.col-sm-8.col-md-9
				.pro-bar-container
					.pro-bar.bar-75(data-pro-bar-percent="75")
				// pro bar container
			// col
		// row
	// kopa skill bar list
// kopa skill bar