.kopa__skillBar.style--01
	.row
		.col-xs-12.col-sm-2
			.kopa__skillBar__list
				strong.kopa__skillBar__counter 225
				p Happy clients
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--dark
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--gray
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--light
			// kopa skill bar list
		// col

		.col-xs-12.col-sm-2
			.kopa__skillBar__list
				strong.kopa__skillBar__counter 729
				p Awards won
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--dark
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--gray
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--light
			// kopa skill bar list
		// col

		.col-xs-12.col-sm-2
			.kopa__skillBar__list
				strong.kopa__skillBar__counter 155
				p Lines of codes
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--dark
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--gray
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--light
			// kopa skill bar list
		// col

		.col-xs-12.col-sm-2
			.kopa__skillBar__list
				strong.kopa__skillBar__counter 885
				p Happy clients
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--dark
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--gray
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--light
			// kopa skill bar list
		// col

		.col-xs-12.col-sm-2
			.kopa__skillBar__list
				strong.kopa__skillBar__counter 472
				p Project complete
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--dark
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--gray
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--light
			// kopa skill bar list
		// col

		.col-xs-12.col-sm-2
			.kopa__skillBar__list
				strong.kopa__skillBar__counter 287
				p Coffee cups
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--dark
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--gray
				span.kopa__skillBar__dotted.kopa__skillBar__dotted--light
			// kopa skill bar list
		// col
	// row
// kopa skill bar