include ../base/mixin

.widget.kopa__slider__brand.owl-wrapper.style--01.owl__nav--first.kopa__reveal.bottom
	+owl-carousel(6, 6, 6, 4, 1, 'true', 'true', 'false', 'false')
		- for ( var x = 1; x <= 6; x++ )
			.item
				a(href='#'): img(src='http://placehold.it/120x60', alt='')
			// item
// kopa slider brand