+slider-quote-01(true, false)
	- for ( var x = 1; x <= 3; x++ )
		li
			p.slider__quote__text I’ve been happy with the services provided by Tagoking llc. Samantha Culligan has beeb
				br
				| wonderful! She has returned my calls quick, and she answered all my question!
			h5.slider__quote__user: a(href='#') Anna briggs
			span.slider__quote__position CEO, Smart Move Ltd.
// slider quote