+slider-quote-02(false, true)
	- for ( var x = 1; x <= 4; x++ )
		li
			i.slider__quote__icon.ti-headphone-alt
			h3.slider__quote__text “Special assistance? Any Questions? We arehere to help you”
			p.slider__quote__number 1800 1895
			a(href="#")
				i.fa.fa-angle-right
				|Go to Help Center
// slider quote