include ../base/mixin

.widget.kopa__slider__brand.owl-wrapper.style--03
	+owl-carousel(4, 4, 4, 3, 1, 'true', 'false', 'false', 'false')
		- for ( var x = 1; x <= 4; x++ )
			.item
				a(href='#'): img(src='http://placehold.it/120x60', alt='')
			// item
// kopa slider brand