include ../base/mixin
.widget.kopa__social.style--01
	.widget-title.style--04
		h4.primary__title social
	// widget title

	.widget-content
		ul
			+social01([
				{'class_icon': 'fa fa-youtube-play'},
				{'class_icon': 'fa fa-facebook'},
				{'class_icon': 'fa fa-instagram'},
				{'class_icon': 'fa fa-twitter'}
			])
	// widget content
// kopa social