.kopa__contentSubPage
	.kopa__link.style--01
		a(href="#") Sea Freight
		a(href="#") Air Freight
		a(href="#") Retail Network
		a(href="#") Project Logistics
		a(href="#") Air Charter OBC
		a(href="#") Ship Parts Logistics
	// kopa link

	.kopa__contentSubPage__content
		h2 Logistics at your side
		h4 At Tagoking, your people and your business are at the heart of everything we do.
		br
		p.text--01 Logistics Ground’s flexible model, using only quality carriers, means you benefit from improved service levels, greater flexibility and time-definite deliveries. Our expertise in transport management and planning allows us to design a solution that meets your needs and also quickly respond to any event disruptions, such as weather.
		br
		p.text--01 Integrated Road networks, covering the world. Through our global network of control towers and state-of-the-art technology, we are able to monitor and dynamically react to situations such as adverse weather, additional pick ups or drop offs, or heavy traffic, meaning that your goods are always travelling the most efficient route.
		br
		.kopa__list.style--02
			h3 OUR MISSION
			ul
				li: a(href="#") FCL and LCL shipments
				li: a(href="#") Intermodal and combined transport
				li: a(href="#") Gateway transport
				li: a(href="#") Project logistics
				li: a(href="#") Pre- and onward carriage, door-to-door
				li: a(href="#") Buyers’ consolidation
				li: a(href="#") Seaworthy packing
				li: a(href="#") Customs clearance and documentation
				li: a(href="#") Global shipment tracking
				li: a(href="#") Transport insurance
		// kopa list
	// kopa content sub page content
// kopa content sub page