.kopa__contentSubPage
	.kopa__link.style--01
		a(href="#") Sea Freight
		a(href="#") Air Freight
		a(href="#") Retail Network
		a(href="#") Project Logistics
		a(href="#") Air Charter OBC
		a(href="#") Ship Parts Logistics
	// kopa link

	.kopa__contentSubPage__content
		h2 Sea freight – on a safe course
		h4 At Tagoking, your people and your business are at the heart of everything we do.
		br
		p.text--01 We safely transport sea freight shipments to any destination – as one of 570,000 TEUs each year, as part of a combined LCL shipment or using special transport for oversized loads.
		br
		p.text--01 Logwin coordinates the entire process, from choosing the right modes of transport and loading equipment to ensuring reliable shipping, including pre- and onward carriage. Modern IT systems provide an up-to-date overview of the shipment status at any time.
		br
		.kopa__list.style--01
			h3 The sea freight services provided by Logwin include:
			ul
				li: a(href="#") FCL and LCL shipments
				li: a(href="#") Intermodal and combined transport
				li: a(href="#") Gateway transport
				li: a(href="#") Project logistics
				li: a(href="#") Pre- and onward carriage, door-to-door
				li: a(href="#") Buyers’ consolidation
				li: a(href="#") Seaworthy packing
				li: a(href="#") Customs clearance and documentation
				li: a(href="#") Global shipment tracking
				li: a(href="#") Transport insurance
		// kopa list
	// kopa content sub page content
// kopa content sub page