.kopa__tab.style--02
	ul.nav.nav-tabs.responsive(role='tablist')
		li.active(role='presentation')
			a(href='#kopa__tab--04', aria-controls='kopa__tab--04', role='tab', data-toggle='tab') Tabs 1

		li(role='presentation')
			a(href='#kopa__tab--05', aria-controls='kopa__tab--05', role='tab', data-toggle='tab') Tabs 2

		li(role='presentation')
			a(href='#kopa__tab--06', aria-controls='kopa__tab--06', role='tab', data-toggle='tab') Tabs 3

		li(role='presentation')
			a(href='#kopa__tab--07', aria-controls='kopa__tab--07', role='tab', data-toggle='tab') Tabs 4

		li(role='presentation')
			a(href='#kopa__tab--08', aria-controls='kopa__tab--08', role='tab', data-toggle='tab') Tabs 5
	// nav tabs

	.tab-content.responsive
		.tab-pane.fade.in.active#kopa__tab--04(role='tabpanel')
			p.text--01 Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions. trucking companies as well as Rail Road expediters allow us to offer a wide spectrum of services in a one-stop solution for all transportation needs in a supply chain process.
		// tab pane

		.tab-pane.fade.in#kopa__tab--05(role='tabpanel')
			p.text--01 Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions.
		// tab pane

		.tab-pane.fade.in#kopa__tab--06(role='tabpanel')
			p.text--01 Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions. Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.
		// tab pane

		.tab-pane.fade.in#kopa__tab--07(role='tabpanel')
			p.text--01 Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions. trucking companies as well as Rail Road expediters allow us to offer a wide spectrum of services in a one-stop solution for all transportation needs in a supply chain process.
		// tab pane

		.tab-pane.fade.in#kopa__tab--08(role='tabpanel')
			p.text--01 Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions.
		// tab pane
	// tab content
// kopa tab