.widget.kopa__tag.style--01
	.row
		.col-xs-12.col-sm-6
			.widget-title.style--11
				h4.primary__title Tags
			// widget title
		// col

		.col-xs-12.col-sm-6
			.widget-content
				a(href="#") Development
				a(href="#") Grunt
				a(href="#") Web
			// widget content
		// col
	// row
// kopa social