.kopa__text.style--01
	h3 Warehousing
	p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement. Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe. Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement. Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe.
	a.btn.btn--md.btn--curve.btn__color--primary(href='#') KNOW MORE
// kopa text