.kopa__text.style--01
	h3 Warehousing
	.row
		.col-xs-12.col-sm-6.col-md-6
			p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implement
				br
				| industry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe.
		// col

		.col-xs-12.col-sm-6.col-md-6
			p Transcargo makes business flow. As one of the world’s leading non-asset-based supply chain management companies, we design and implemenindustry-leading solutions in both freight management.Over 42,000 dedicated employees, working in 17 regional clusters around the globe, deliver operational excellence — to provide viable answers to the most challenging supply chain questions. trucking companies as well as Rail Road expediters allow us to offer a wide spectrum of services in a one-stop solution for all transportation needs in a supply chain process while simultaneously preserving the efficiency of specialty units.
		// col
	// row
	a.btn.btn--md.btn--curve.btn__color--primary(href='#') KNOW MORE
// kopa text