.row
	.col-xs-12.col-sm-6
		include video-01

		.kopa__module__accordion.style--01.kopa__reveal.bottom
			.widget-title.style--05
				h3.primary__title: a(href='#') Why Choose Us
			// widget title

			.widget-content
				.kopa__accordion.style--04
					.acc__title.active
						.icon--right.match
						h5.match How many times do i have to tell you a few ways?
					// acc-title

					.acc__content
						p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives.
					// acc-content

					.acc__title
						.icon--right.match
						h5.match What is do i have to tell you a few lorem?
					// acc-title

					.acc__content
						p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives.
					// acc-content

					.acc__title
						.icon--right.match
						h5.match I have a technical problem or support issue I need resolved.
					// acc-title

					.acc__content
						p Progressively generate synergistic total linkage through cross-media intellectual capital. Enthusiastically parallel task team building e-tailers without standards compliant initiatives.
					// acc-content
				// kopa accordion
			// widget content
		// kopa module accordion
	// col

	.col-xs-12.col-sm-6
		include news-02
	// col
// row