.widget.kopa__video.style--01.kopa__reveal.bottom
	.widget-title.style--05
		h3.primary__title: a(href='#') Choose the speed you needbusiness
	// widget title

	.widget-content
		.easyhtml5video
			video(controls, poster="http://placehold.it/426x240")
	// widget content
// kopa video