section.widget.woocommerce.widget_product_categories
	.widget-title
		h3.primary__title Product Categories Dropdown

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	select.dropdown_product_cat
		option(selected="selected") Select a category
		option.level-0 Clothing&nbsp;(12)
		option.level-1 &nbsp;&nbsp;&nbsp;Hoodies&nbsp;(6)
		option.level-1 &nbsp;&nbsp;&nbsp;T-shirts&nbsp;(6)
		option.level-0 Music&nbsp;(6)
		option.level-1 &nbsp;&nbsp;&nbsp;Albums&nbsp;(4)
		option.level-1 &nbsp;&nbsp;&nbsp;Singles&nbsp;(2)
		option.level-0 Posters&nbsp;(5)
// widget product category