section.widget.woocommerce.widget_product_categories
	.widget-title
		h3.primary__title Product Categories List

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	ul.product-categories
		li.cat-item
			a(href="#")
				|Clothing
				span.count (12)
			ul.children
				li.cat-item
					a(href="#")
						|Hoodies
						span.count (6)
				li.cat-item
					a(href="#")
						|T-shirts
						span.count (12)
		li.cat-item
			a(href="#")
				|Music
				span.count (6)
		li.cat-item
			a(href="#")
				|Posters
				span.count (18)
// widget product category