section.widget.woocommerce.widget_products
	.widget-title
		h3.primary__title All Products

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	ul.product_list_widget
		li
			a(href="#")
				img(src="http://placehold.it/80x80", alt="")
				span.product-title Woo Single #2
			del: span.amount $48
			ins: span.amount $32
		li
			a(href="#")
				img(src="http://placehold.it/80x80", alt="")
				span.product-title Woo Single #2
			del: span.amount $48
			ins: span.amount $32
		li
			a(href="#")
				img(src="http://placehold.it/80x80", alt="")
				span.product-title Woo Single #2
			del: span.amount $48
			ins: span.amount $32
		li
			a(href="#")
				img(src="http://placehold.it/80x80", alt="")
				span.product-title Woo Single #2
			del: span.amount $48
			ins: span.amount $32
		li
			a(href="#")
				img(src="http://placehold.it/80x80", alt="")
				span.product-title Woo Single #2
			del: span.amount $48
			ins: span.amount $32
// widget product category