section.widget.woocommerce.widget_product_tag_cloud
	.widget-title
		h3.primary__title Product Tag Cloud

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	.tagcloud
		a(href="#") Clother
		a(href="#") Shoes
		a(href="#") Gloves
		a(href="#") Hat
	// tag cloud
// widget product category