section.widget.woocommerce.widget_product_search
	.widget-title
		h3.primary__title Search Product

		.kopa__line--dotted.style--02
			span.kopa__line--dotted--small.kopa__line--dotted--dark
			span.kopa__line--dotted--small.kopa__line--dotted--gray
			span.kopa__line--dotted--small.kopa__line--dotted--light
			span.kopa__line--dotted--wide
		// kopa line dotted
	// widget title

	form(action="/").woocommerce-product-search
		label.screen-reader-text Search for:
		input(type="search", placeholder="Search Products...").search-field
		input(type="submit", value="product")
// widget product search